<div>
  <div>
    <h2>ใบสมัครเข้าเรียนต่อชั้นมัธยมศึกษาปีที่ 1</h2>
    <h4>
      ศูนย์รับสมัครโรงเรียนพร้าววิทยาคม สำนักงานเขตพื้นที่การศึกษามัธยมศึกษา
      เขต 34
    </h4>
  </div>
  <div >
  <form

    id="formNewstudentm1"
    name="formNewstudentm1"
    #newstudentm1NewData="ngForm"
    (ngSubmit)="addNewstudentm1(newstudentm1NewData.value)"
  >

    <div>
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-3">
          <input type="file" #file placeholder="choose file" id="pic" name="pic" ngModel (change)="uploadFile(file.files)"
            style="display: none;" >
            <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
        </div>
        <div class="col-md-4">
          <span class="upload-pic" *ngIf="progress > 0">
            {{progress}}%
          </span>
          <span class="upload-pic" *ngIf="message">
            {{message}}
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="prename">คำนำหน้า :  </label>
        <select id="prename" name="prename"  ngModel>
          <option *ngFor="let p of prename" placeholder="คำนำหน้า">
            {{ p }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">ชื่อ : </label>
        <input id = "name" name = "name" ngModel placeholder = "ชื่อ"/>
      </div>
      <div class="form-group">
        <label for="name">นามสกุล : </label>
        <input id = "surname" name = "surname" ngModel placeholder = "นามสกุล"/>
      </div>
      <div>
        <label for="sex">เพศ : </label>
          <select id="sex" name="sex" ngModel>
            <option *ngFor="let g of gender" >{{ g }}</option>
          </select>
      </div>
    </div>
    <div>
      <div>
        <label for = "id_number">เลขประจำตัวประชาชน</label>
        <input id="id_number" name="id_number" ngModel placeholder="เลขประจำตัวประชน"/>
      </div>
      <div>
        <label for="birthday">วันเดือนปีเกิด</label>
        <input id="birthday" name="birthday" ngModel/>
      </div>
    </div>
    <div>
      <label for="religion">ศาสนา</label>
      <input id="religion" name="religion" ngModel placeholder="ศาสนา"/>
      <label for="nationality">เชื้อชาติ</label>
      <input id="nationality" name="nationality" ngModel placeholder="เชื้อชาติ"/>
      <label for="origin">สัญชาติ</label>
      <input id="origin" name="origin" ngModel placeholder="สัญชาติ"/>
      <label for="tel">โทรศัพท์</label>
      <input id="tel" name="tel" ngModel placeholder="โทรศัพท์"/>
    </div>
    <div>
      <label for="father_name">ชื่อ-นามสกุลบิดา</label>
      <input id="father_name" name="father_name" ngModel placeholder="ชื่อ-นามสกุลบิดา"/>
      <label for="father_id">เลขประจำตัวประชาชนบิดา</label>
      <input id="father_id" name="father_id" ngModel placeholder="เลขประจำตัวประชาชนบิดา"/>
      <label for="father_job">อาชีพ</label>
      <input id="father_job" name="father_job" ngModel placeholder="อาชีพ"/>
      <label for="father_tel">โทรศัพท์</label>
      <input id="father_tel" name="father_tel" ngModel placeholder="โทรศัพท์"/>
    </div>
    <div>
      <label for="mother_name">ชื่อ-นามสกุลมารดา</label>
      <input id="mother_name" name="mother_name" ngModel placeholder="ชื่อ-นามสกุลมารดา"/>
      <label for="mother_id">เลขประจำตัวประชาชนมารดา</label>
      <input id="mother_id" name="mother_id" ngModel placeholder="เลขประจำตัวประชาชนมารดา"/>
      <label for="mother_job">อาชีพ</label>
      <input id="mother_job" name="mother_job" ngModel placeholder="อาชีพ"/>
      <label for="mother_tel">โทรศัพท์</label>
      <input id="mother_tel" name="mother_tel" ngModel placeholder="โทรศัพท์"/>
    </div>
    <div>
      <label>ผู้ปกครอง</label>
      <input type="checkbox" />
      <label>บิดา</label>
      <input type="checkbox" />
      <label>มารดา</label>
      <label for="parent">ถ้าเป็นบุคลอื่นโปรดระบุความสัมพันธ์</label>
      <input id="parent" name="parent" ngModel placeholder="ผู้ปกครอง"/>
    </div>
    <div>
      <label for="parent_name">ชื่อ-นามสกุลผู้ปกครอง</label>
      <input id="parent_name" name="parent_name" ngModel placeholder="ชื่อ-นามสกุลผู้ปกครอง"/>
      <label for="parent_job">อาชีพ</label>
      <input id="parent_job" name="parent_job" ngModel placeholder="อาชีพ"/>
      <label for="parent_tel">โทรศัพท์</label>
      <input id="parent_tel" name="parent_tel" placeholder="โทรศัพท์"/>
    </div>
    <div>
      <label for="house_number">บ้านเลขที่</label>
      <input id="house_number" name="house_number" ngModel placeholder="บ้านเลขที่"/>
      <label for="bloc">หมู่ที่</label>
      <input id="bloc" name="bloc" ngModel placeholder="หมู่ที่"/>
      <label for="street">ซอย</label>
      <input id="street" name="street" ngModel placeholder="ซอย"/>
      <label for="road">ถนน</label>
      <input id="road" name="road" ngModel placeholder="ถนน"/>
    </div>
    <div>
      <label for="sub_district">ตำบล/แขวง</label>
      <input id="sub_district" name="sub_district" ngModel placeholder="ตำบล/แขวง"/>
      <label for="district">อำเภอ/เขต</label>
      <input id="district" name="district" ngModel placeholder="อำเภอ/แขวง"/>
      <label for="province">จังหวัด</label>
      <input id="province" name="province" ngModel placeholder="จังหวัด"/>
      <label for="post">รหัสไปรษณีย์</label>
      <input id="post" name="post" ngModel placeholder="รหัสไปรษณีย์"/>
    </div>
    <div class="form-group">
      <label for="final_school">สำเร็จการศึกษา ชั้นประถมศึกษาปีที่ 6 จากโรงเรียน</label>
      <input id="final_school" name="final_school" ngModel placeholder="สำเร็จการศึกษา ชั้นประถมศึกษาปีที่ 6 จากโรงเรียน"/>
    </div>
    <div>
      <label for="final_school_sub_district">ตำบล</label>
      <input id="fianl_school_sub_district" name="final_school_sub_district" ngModel placeholder="ตำบล"/>
      <label for="final_school_district">อำเภอ</label>
      <input id="final_school_district" name="final_school_district" ngModel placeholder="อำเภอ"/>
      <label for="final_school_province">จังหวัด</label>
      <input id="final_school_province" name="final_school_province" ngModel placeholder="จังหวัด"/>
    </div>
    <div>
      <input type="checkbox" />
      <label>ผู้พิการ/เด็กพิเศษ</label>
      <label>(โปรดระบุประเภทความพิเศษ)</label>
      <input id="disabled" name="disabled" ngModel/>
    </div>
    <div>
      <input type="checkbox" id="poor_person" name="poor_person" ngModel/>
      <label>ผู้ด้อยโอกาส/ฐานะยากจน</label>
      <input type="checkbox" />
      <label>อื่นๆ</label>
      <label>โปรดระบุ</label>
      <input id="etc" name="etc" ngModel/>
    </div>
    <div>
      <button type="submit" value="submit" (click)="onCreate()">ยืนยัน</button>
    </div>
  </form>
  </div>
</div>


