<form (ngSubmit)="studentDetail()">
<!-- รายละเอียดนักเรียน -->
<div class="card-body" >
  <div class="alert alert-info" role="alert" align="center"><h5><i class="fas fa-info-circle"></i>
    กรุณากรอกข้อมูลตามความเป็นจริงก่อนบันทึกข้อมูลเพื่อผลประโยชน์ของนักเรียนในการใช้ขอทุน หรือตรวจสอบปัจจัยต่างๆที่จะได้รับ</h5></div>


  <div style="border-radius: 5px; background-color: #8B469B; margin-bottom: 15px; color: white;">
                        <p  style="margin-left: 25px;  font-size: 15px;"><b>การเดินทาง</b></p>
                    </div>
  <div class="row">
                        <div class="col-6 col-md-3">
      <div class="form-group form-group-default">
        <label>การเดินทางมาโรงเรียน</label>
        <select class="form-control" id="formGroupDefaultSelect" name="go_school" [(ngModel)]="studentdetail.go_school">
          <option disabled>เลือก</option>
          <option *ngFor="let gs of goSchool">{{gs}}</option>
        </select>
      </div>
                        </div>
    <div class="col-6 col-md-3">
                            <div class="form-group form-group-default">
                                <label>ระยะเวลาเดินทาง (นาที)</label>
                                <input id="go_school_time" type="text" class="form-control" placeholder=""
                                name="go_school_time" [(ngModel)]="studentdetail.go_school_time">
                            </div>
                        </div>
    <div class="col-6 col-md-3">
                            <div class="form-group form-group-default">
                                <label>ระยะห่างจาก ร.ร. (ลูกรัง) เมตร</label>
                                <input id="distance" type="text" class="form-control" placeholder=""
                                name="distance" [(ngModel)]="studentdetail.distance">
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="form-group form-group-default">
                                <label>ระยะห่างจาก ร.ร. (ลาดยาง) เมตร</label>
                                <input id="long_distance" type="text" class="form-control" placeholder=""
                                name="long_distance" [(ngModel)]="studentdetail.long_distance">
                            </div>
                        </div>
                    </div>
                    <div style="border-radius: 5px; background-color: #8B469B; margin-bottom: 15px; color: white;">
                        <p  style="margin-left: 25px;  font-size: 15px;"><b>การเรียนออนไลน์</b></p>
                    </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <label style="margin-bottom: 5px;"><small>อุปกรณ์ที่มี (เลือกได้มากกว่า 1 หัวข้อ)</small></label>
                            <div class="form-group">
        <div class="selectgroup selectgroup-pills" *ngFor="let obj of gadjectArr">
          <label class="selectgroup-item">
            <input type="checkbox" class="selectgroup-input" value="{{obj.value}}" (change)="gadject($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="checkbox" name="tool" value="2" class="selectgroup-input">
            <span class="selectgroup-button">แท็บเล็ต</span>
          </label>
          <label class="selectgroup-item">
            <input type="checkbox" name="tool" value="3" class="selectgroup-input">
            <span class="selectgroup-button">โน๊ตบุ๊ค</span>
          </label>
          <label class="selectgroup-item">
            <input type="checkbox" name="tool" value="4" class="selectgroup-input">
            <span class="selectgroup-button">คอมพิวเตอร์แบบตั้งโต๊ะ</span>
          </label> -->
        </div>
      </div>
                        </div>
    <div class="col-sm-6 col-md-6">
                            <label style="margin-bottom: 5px;"><small>อินเตอร์เน็ตที่ใช้ (เลือก 1 หัวข้อ)</small></label>
      <div class="form-group">
        <div class="selectgroup selectgroup-secondary selectgroup-pills" *ngFor="let obj of internetArr">
          <label class="selectgroup-item">
            <input type="radio" class="selectgroup-input" value="{{obj.value}}" (change)="internet($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="radio" name="net" value="no" class="selectgroup-input">
            <span class="selectgroup-button">อินเตอร์เน็ตสาย</span>
          </label> -->
        </div>
      </div>
                        </div>
                    </div>
                    <div style="border-radius: 5px; background-color: #8B469B; margin-bottom: 15px; color: white;">
                        <p  style="margin-left: 25px;  font-size: 15px;"><b>ข้อมูลด้านอื่นๆ</b></p>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6">
      <div class="form-group form-group-default">
        <label>ความพิการ</label>
        <select class="form-control" id="formGroupDefaultSelect" name="disebled" [(ngModel)]="studentdetail.disabled">
          <option disabled>เลือก</option>
          <option *ngFor="let d of Disable">{{d}}</option>
        </select>
      </div>
                        </div>
                        <div class="col-6 col-md-6">
      <div class="form-group form-group-default">
        <label>ความด้อยโอกาส</label>
        <select class="form-control" id="formGroupDefaultSelect" name="unfortuned" [(ngModel)]="studentdetail.unfortuned">
          <option disabled>เลือก</option>
          <option *ngFor="let uf of unFortuned">{{uf}}</option>
        </select>
      </div>
                        </div>
                    </div>
                    <div class="row">
    <div class="col-sm-6 col-md-12">
      <label style="margin-bottom: 5px;"><small>ความขาดแคลน (เลือกได้มากกว่า 1 หัวข้อ)</small></label>
                            <div class="form-group">
        <div class="selectgroup selectgroup-pills" *ngFor="let obj of lackArr">
          <label class="selectgroup-item">
            <input type="checkbox" class="selectgroup-input" value="{{obj.value}}" (change)="lack($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="checkbox" name="lack" value="2" class="selectgroup-input">
            <span class="selectgroup-button">ขาดแคลนเครื่องเขียน</span>
          </label>
          <label class="selectgroup-item">
            <input type="checkbox" name="lack" value="3" class="selectgroup-input">
            <span class="selectgroup-button">ขาดแคลนอาหารกลางวัน</span>
          </label>
          <label class="selectgroup-item">
            <input type="checkbox" name="lack" value="4" class="selectgroup-input">
            <span class="selectgroup-button">ขาดแคลนเครื่องแบบ</span>
          </label>
                                    <label class="selectgroup-item">
            <input type="checkbox" name="lack" value="5" class="selectgroup-input">
            <span class="selectgroup-button">ไม่ขาดแคลน</span>
          </label> -->
        </div>
      </div>
                        </div>
                    </div>
                    <div class="row">
    <div class="col-sm-6 col-md-4">
                            <label style="margin-bottom: 5px;"><small>นักเรียนคบเพื่อนที่เกี่ยวข้องกับสิ่งเสพติด</small></label>
      <div class="form-group">
        <div class="selectgroup selectgroup-secondary selectgroup-pills" *ngFor="let obj of friend_drugArr">
          <label class="selectgroup-item">
            <input type="radio" class="selectgroup-input" value="{{obj.value}}" (change)="friend_drug($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="radio" name="1" value="no" class="selectgroup-input">
            <span class="selectgroup-button">ไม่ใช่</span>
          </label> -->
        </div>
      </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <label style="margin-bottom: 5px;"><small>นักเรียนมีพฤติกรรมเสพยาหรือจำหน่ายสิ่งเสพติด</small></label>
      <div class="form-group">
        <div class="selectgroup selectgroup-secondary selectgroup-pills" *ngFor="let obj of sell_drugArr">
          <label class="selectgroup-item">
            <input type="radio" class="selectgroup-input" value="{{obj.value}}" (change)="sell_drug($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="radio" name="2" value="no" class="selectgroup-input">
            <span class="selectgroup-button">ไม่ใช่</span>
          </label> -->
        </div>
      </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <label style="margin-bottom: 5px;"><small>นักเรียนมีพฤติกรรมส่อไปในทางชู้สาว</small></label>
      <div class="form-group">
        <div class="selectgroup selectgroup-secondary selectgroup-pills" *ngFor="let obj of sexualArr">
          <label class="selectgroup-item">
            <input type="radio" class="selectgroup-input" value="{{obj.value}}" (change)="sexual($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="radio" name="3" value="no" class="selectgroup-input">
            <span class="selectgroup-button">ไม่ใช่</span>
          </label> -->
        </div>
      </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <label style="margin-bottom: 5px;"><small>นักเรียนพักหรืออาศัยอยู่กับเพื่อนต่างเพศที่มิใช่ญาติพี่น้อง</small></label>
      <div class="form-group">
        <div class="selectgroup selectgroup-secondary selectgroup-pills" *ngFor="let obj of not_parentArr">
          <label class="selectgroup-item">
            <input type="radio" class="selectgroup-input" value="{{obj.value}}" (change)="not_parent($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="radio" name="4" value="no" class="selectgroup-input">
            <span class="selectgroup-button">ไม่ใช่</span>
          </label> -->
        </div>
      </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <label style="margin-bottom: 5px;"><small>นักเรียนชอบเที่ยวกลางคืน</small></label>
      <div class="form-group">
        <div class="selectgroup selectgroup-secondary selectgroup-pills" *ngFor="let obj of dark_travelArr">
          <label class="selectgroup-item">
            <input type="radio" class="selectgroup-input" value="{{obj.value}}" (change)="dark_travel($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="radio" name="5" value="no" class="selectgroup-input">
            <span class="selectgroup-button">ไม่ใช่</span>
          </label> -->
        </div>
      </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <label style="margin-bottom: 5px;"><small>นักเรียนเคยถูกล่วงละเมิดทางเพศ</small></label>
      <div class="form-group">
        <div class="selectgroup selectgroup-secondary selectgroup-pills" *ngFor="let obj of sexual_harrasmentArr">
          <label class="selectgroup-item">
            <input type="radio" class="selectgroup-input" value="{{obj.value}}" (change)="sexual_harrasment($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="radio" name="6" value="no" class="selectgroup-input">
            <span class="selectgroup-button">ไม่ใช่</span>
          </label> -->
        </div>
      </div>
                        </div>
                    </div>
                    <div class="row">
    <div class="col-sm-6 col-md-4">
                            <label style="margin-bottom: 5px;"><small>นักเรียนรู้สึกว่าโลกนี้ (เลือก 1 หัวข้อ)</small></label>
      <div class="form-group">
        <div class="selectgroup selectgroup-secondary selectgroup-pills" *ngFor="let obj of cute_worldArr">
          <label class="selectgroup-item">
            <input type="radio" class="selectgroup-input" value="{{obj.value}}" (change)="cute_world($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="radio" name="world" value="no" class="selectgroup-input">
            <span class="selectgroup-button">ไม่น่าอยู่</span>
          </label> -->
        </div>
      </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <label style="margin-bottom: 5px;"><small>นักเรียนรู้สึกว่าตัวเอง (เลือก 1 หัวข้อ)</small></label>
      <div class="form-group">
        <div class="selectgroup selectgroup-secondary selectgroup-pills" *ngFor="let obj of rich_manArr">
          <label class="selectgroup-item">
            <input type="radio" class="selectgroup-input" value="{{obj.value}}" (change)="rich_man($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="radio" name="heart" value="no" class="selectgroup-input">
            <span class="selectgroup-button">ไม่มีค่า</span>
          </label> -->
        </div>
      </div>
                        </div>
                    </div>
                    <div class="row">
    <div class="col-6 col-md-6">
                            <div class="form-group form-group-default">
                                <label>นักเรียนคิดว่าคนที่ดีควรมีลักษณะอย่างไร</label>
                                <input id="good_guy" type="text" class="form-control" placeholder=""
                                name="good_guy" [(ngModel)]="studentdetail.good_guy">
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="form-group form-group-default">
                                <label>นักเรียนคิดว่าสังคมที่ดีควรมีลักษณะอย่างไร</label>
                                <input id="social_good" type="text" class="form-control" placeholder=""
                                name="social_good" [(ngModel)]="studentdetail.social_good">
                            </div>
                        </div>
                    </div>
                    <div class="row">
    <div class="col-sm-6 col-md-12">
      <label style="margin-bottom: 5px;"><small>ปัญหาเรื่องใด ที่นักเรียนกำลังประสบอยู่ในขณะนี้ (เลือกได้มากกว่า 1 อย่าง)</small></label>
                            <div class="form-group">
        <div class="selectgroup selectgroup-pills" *ngFor="let obj of problemArr">
          <label class="selectgroup-item">
            <input type="checkbox" class="selectgroup-input" value="{{obj.value}}" (change)="problem($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="checkbox" name="issue" value="2" class="selectgroup-input">
            <span class="selectgroup-button">การเรียน</span>
          </label>
          <label class="selectgroup-item">
            <input type="checkbox" name="issue" value="3" class="selectgroup-input">
            <span class="selectgroup-button">สุขภาพ</span>
          </label>
          <label class="selectgroup-item">
            <input type="checkbox" name="issue" value="4" class="selectgroup-input">
            <span class="selectgroup-button">เศรษฐกิจ</span>
          </label>
                                    <label class="selectgroup-item">
            <input type="checkbox" name="issue" value="5" class="selectgroup-input">
            <span class="selectgroup-button">การคบเพื่อน</span>
          </label>
                                    <label class="selectgroup-item">
            <input type="checkbox" name="issue" value="6" class="selectgroup-input">
            <span class="selectgroup-button">การวางตัวในสังคม</span>
          </label>
                                    <label class="selectgroup-item">
            <input type="checkbox" name="issue" value="7" class="selectgroup-input">
            <span class="selectgroup-button">การใช้เวลาว่าง</span>
          </label>
                                    <label class="selectgroup-item">
            <input type="checkbox" name="issue" value="8" class="selectgroup-input">
            <span class="selectgroup-button">การเลือกอาชีพ</span>
          </label>
                                    <label class="selectgroup-item">
            <input type="checkbox" name="issue" value="9" class="selectgroup-input">
            <span class="selectgroup-button">การเลือกศึกษาต่อ</span>
          </label>
                                    <label class="selectgroup-item">
            <input type="checkbox" name="issue" value="10" class="selectgroup-input">
            <span class="selectgroup-button">การปรับตัวเข้ากับครู-อาจารย์ในโรงเรียน</span>
          </label> -->
        </div>
      </div>
                        </div>
                    </div>
                    <div class="row">
    <div class="col-sm-6 col-md-12">
      <label style="margin-bottom: 5px;"><small>ถ้าต้องการความช่วยเหลือ/ปรึกษา นักเรียนต้องการความช่วยเหลือ/ปรึกษา จากใคร (เลือกได้มากกว่า 1 อย่าง)</small></label>
                            <div class="form-group">
        <div class="selectgroup selectgroup-pills" *ngFor="let obj of helpArr">
          <label class="selectgroup-item">
            <input type="checkbox" class="selectgroup-input" value="{{obj.value}}" (change)="help($event)">
            <span class="selectgroup-button">{{obj.key}}</span>
          </label>
          <!-- <label class="selectgroup-item">
            <input type="checkbox" name="lack" value="2" class="selectgroup-input">
            <span class="selectgroup-button">มารดา</span>
          </label>
          <label class="selectgroup-item">
            <input type="checkbox" name="lack" value="3" class="selectgroup-input">
            <span class="selectgroup-button">ครูแนะแนว</span>
          </label>
          <label class="selectgroup-item">
            <input type="checkbox" name="lack" value="4" class="selectgroup-input">
            <span class="selectgroup-button">ครูที่ปรึกษา</span>
          </label>
                                    <label class="selectgroup-item">
            <input type="checkbox" name="lack" value="5" class="selectgroup-input">
            <span class="selectgroup-button">เพื่อน</span>
          </label>
                                    <label class="selectgroup-item">
            <input type="checkbox" name="lack" value="5" class="selectgroup-input">
            <span class="selectgroup-button">อื่นๆ</span>
          </label> -->
        </div>
      </div>
                        </div>
                    </div>


</div>
<button type="submit">Submit</button>
</form>
