<h3>Add test</h3>

<form
 #AddtestNewdata1 = "ngForm"
 #AddtestNewdata2 = "ngForm"
 >
  <div>
    <label>ชื่อ : </label>
    <input type="text" id="name" name="name" ngModel>
  </div>
  <div>
    <label>นามสกุล : </label>
    <input type="text" id="surname" name="surname" ngModel>
  </div>
  <div *ngFor="let obj of checkboxArr">
    <input type="checkbox" value="{{obj.value}}" (change)="testchange($event)"> {{obj.key}}
  </div>
  <div>
    <button type="submit" value="submit">ยืนยัน</button>
  </div>
</form>


