<div>
  <h3>Admin</h3>
</div>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">หน้าหลัก</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              จัดการข้อมูลนักเรียน
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">ข้อมูลนักเรียนพื้นฐาน</a></li>
              <li><a class="dropdown-item" href="#">เลื่อนชั้นนักเรียน</a></li>
              <li><a class="dropdown-item" href="#">จบการศึดษา</a></li>
              <li><a class="dropdown-item" href="#">ย้ายสถานศึกษา</a></li>
              <li><a class="dropdown-item" href="#">ออกกลางคัน</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              จัดการครูประจำชั้น
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">ข้อมูลและบุคลากรปัจจุบัน</a></li>
              <li><a class="dropdown-item" href="#">กำหนดตำแหน่งครูและบุคคลากร</a></li>
              <li><a class="dropdown-item" href="#">ข้อมูลครูและบุคลากรในอดีต</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              จัดการตารางสอนเรียน
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              จัดการข้อมูลพื้นฐาน
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">กำหนดชั้นเรียน</a></li>
              <li><a class="dropdown-item" href="#">กำหนดปีการศึกษา</a></li>
              <li><a class="dropdown-item" href="#">ข้อมูลผู้ดูแลระบบ</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              จัดการข่าวประชาสัมพันธ์
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">เพิ่มข่าวประชาสัมพัรธ์</a></li>
              <li><a class="dropdown-item" href="#">ข่าวประชาสัมพันธ์ทั้งหมด</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              จัดการแบบฟอร์มโรงเรียน
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">เพิ่มแบบฟอร์มโรงเรียน</a></li>
              <li><a class="dropdown-item" href="#">แบบฟอร์มโรงเรียนทั้งหมด</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">คู่มือใช้งาน</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ติดต่อเรา</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div>
  <h4>ข่าวประชาสัมพันธ์</h4>
</div>
<div>
  <table>
    <tr>
    <td>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-title">ข่าวประชาสัมพันธ์จากงานนักศึกษาวิชาทหาร โรงเรียนพร้าววิทยาคม 1/2565</h5>
          <h6 class="card-subtitle mb-2 text-muted">01 มิถุนายน 2565 </h6>
          <p class="card-text">ให้นักเรียนประสงค์ที่อยากจะศึกษาวิชาทหารให้ไปขอรับใบสมัครได้ที่ ห้องศิลปะ</p>
          <button type="submit" class="btn btn-success">Read more</button>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-title">ข่าวประชาสัมพันธ์จากงานนักศึกษาวิชาทหาร โรงเรียนพร้าววิทยาคม 1/2565</h5>
          <h6 class="card-subtitle mb-2 text-muted">01 มิถุนายน 2565 </h6>
          <p class="card-text">ให้นักเรียนประสงค์ที่อยากจะศึกษาวิชาทหารให้ไปขอรับใบสมัครได้ที่ ห้องศิลปะ</p>
          <button type="submit" class="btn btn-success">Read more</button>
        </div>
      </div>
    </td>
  </tr>
  </table>
</div>
