<h1>หน้าหลัก</h1>
<div>
  <div>
    <button class="btn btn-outline-secondary"  [routerLink] = "['/NewStudentRegisterM1']">New Student M1</button>
  </div>
  <div>
    <button class="btn btn-outline-secondary"  [routerLink] = "['/NewStudentRegisterM4']">New Student M4</button>
  </div>
  <div>
    <button class="btn btn-outline-secondary"  [routerLink] = "['/SortNewstudentm1']">Sort New Student M1</button>
  </div>
  <div>
    <button class="btn btn-outline-secondary"  [routerLink] = "['/SortNewstudentM4']">Sort New Student M4</button>
  </div>
  <div>
    <button class="btn btn-outline-secondary"  [routerLink] = "['/StudentCoreInformation']">Student Core Information</button>
  </div>
  <div>
    <button class="btn btn-outline-secondary"  [routerLink] = "['/Mainbehavior']">Main Page Behavior</button>
  </div>
  <div>
    <button class="btn btn-outline-secondary"  [routerLink] = "['/Addstudentcore']">Add Student Core</button>
  </div>
  <div>
    <button class="btn btn-outline-secondary"  [routerLink] = "['/LoginStudent']">Login Student</button>
  </div>
  <div>
    <button class="btn btn-outline-secondary"  [routerLink] = "['/LoginTeacher']">Login Teacher</button>
  </div>
  <div>
    <button class="btn btn-outline-secondary"  [routerLink] = "['/LoginAdmin']">Login Admin</button>
  </div>
</div>


