<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div>
    <label>Post Image</label>
    <input type="file" formControlName="name" name="name" id="name" class="form-control"
    (change)="uploadImage($event)" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">

    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.require">Image is require</div>
    </div>

  </div>
  <button type="submit" class="btn btn-dark btn-sm mt-4">Submit</button>
</form>
