<!-- <div>
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="title">Name:</label>
              <input
                formControlName="name"
                id="name"
                type="text"
                class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="surname">Surname:</label>
              <input
                formControlName="surname"
                id="surname"
                type="text"
                class="form-control">
            </div>
        </div>


        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div> -->
<div>
  <form>
    <input type="file" name="image" id="image" (change)="onfilechang($event)">
    <div>
      <input type="file" name="file_pdf" id="file_pdf" (change)="onfilechang($event)">
    </div>
    <div>
      <input type="text" name="image" id="image" placeholder="name" [(ngModel)]="ttt.name">
    </div>
    <button type="button" (click)="onupload()">Submit</button>
  </form>

</div>
<div>
  <table>
    <thead>
      <th>รูป</th>
      <th>ชื่อ</th>
      <th>นามสกุล</th>
      <th>PDF</th>
    </thead>
    <tbody>
      <tr *ngFor="let g of get">
        <td><img [src]=" g.image ? imageDirectoryPath+g.image : 'assets/image/no-image.png'" height="100px"></td>
        <td>{{g.name}}</td>
        <td>{{g.surname}}</td>
        <td><button [routerLink]="['/Edit', g.id]">Get ID : {{g.id}}</button></td>
      </tr>
    </tbody>
  </table>
</div>

