<h3>Add Behavior!!</h3>

  <form
    #addbehaviorNewdata="ngForm"
    (ngSubmit)="AddBehavio(addbehaviorNewdata.value)">
    <div>
      <label>วัน/เดือน/ปี : </label>
      <input id="behavior_date" name="behavior_date" ngModel placeholder="00/00/0000">
    </div>
    <div>
      <label>รหัสนักเรียน : </label>
      <input id="student_id" name="student_id" ngModel placeholder="xxxxxx">
    </div>
    <div>
      <label>เรื่อง : </label>
      <input id="title" name="title" ngModel >
    </div>
    <div >
      <label>รายละเอียด</label>
      <input id="behavior_history" name="behavior_history"  ngModel >
    </div>
    <div>
      <label>หักคะแนน : </label>
      <input type="text">
    </div>
    <div>
      <button type="submit" class="btn btn-success" value="submit">ยืนยัน</button>
    </div>
  </form>
  <button class="btn btn-danger" [routerLink] = "['/Mainbehavior']">ย้อนกลับ</button>

