<h3>Add Behavior!!</h3>

  <form
    (ngSubmit)="AddBehavior()">
    <div>
      <label>วัน/เดือน/ปี : </label>
      <input  name="behavior_date" [(ngModel)]="behavior.behavior_date" placeholder="00/00/0000">
    </div>
    <div>
      <label>รหัสนักเรียน : </label>
      <input name="student_id" [(ngModel)]="behavior.B_student_id" placeholder="xxxxxx">
    </div>
    <div>
      <label>เรื่อง : </label>
      <input name="title" [(ngModel)]="behavior.title" >
    </div>
    <div >
      <label>รายละเอียด</label>
      <input  name="behavior_history"  [(ngModel)]="behavior.behavior_history" >
    </div>
    <div>
      <label>หักคะแนน : </label>
      <input type="text">
    </div>
    <div>
      <button type="submit" class="btn btn-success" value="submit">ยืนยัน</button>
    </div>
  </form>
  <button class="btn btn-danger" [routerLink] = "['/Mainbehavior']">ย้อนกลับ</button>

