<div>
  <h2>Admin Page Communicate</h2>
</div>
<div class="container-sm">
  <form>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="title" placeholder="Title">
      <label>Title</label>
    </div>
    <div class="input-group sm">
      <span class="input-group-text">Day</span>
      <input type="text" class="form-control" placeholder="Day" aria-label="Day">
      <span class="input-group-text">Mount</span>
      <input type="text" class="form-control" placeholder="Mount" aria-label="Mount">
      <span class="input-group-text">Year</span>
      <input type="text" class="form-control" placeholder="Year" aria-label="Year">
    </div>
    <div class="form-floating">
      <textarea class="form-control" name="content" placeholder="Content" ></textarea>
      <label for="floatingTextarea">Content</label>
    </div>
    <div>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
