<form>
  <div>
    <h2>New Student Register</h2>
  </div>
  <div>
    <label>ระบดับชั้น : </label>
      <input type="checkbox">
      <label> มัธยมศึกษาปีที่ 1 </label>
      <input type="checkbox">
      <label> มัธยมศึกษาปีที่ 4</label>
  </div>
  <div>
    <label>เขตการศึกษา : </label>
      <select>
        <option></option>
        <option *ngFor='let sa of study_area'>{{sa}}</option>
      </select>
  </div>
  <div>
    <label>โรงเรียน : </label>
    <select>
      <option></option>
      <option *ngFor='let s of school'>{{s}}</option>
    </select>
  </div>
  <div>
    <button type="submit"> ค้นหา </button>
  </div>
  <table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th>ลำดับ</th>
        <th>ชื่อ-นามสกุล</th>
        <th>โรงเรียน</th>
        <th>ประสงค์เข้าศึกษาต่อในชั้น</th>
        <th>สายการเรียน</th>
        <th>ข้อมูลประจำตัว</th>
        <th>เอกสารสำคัญ</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>นาย ณัฐวุฒิ กิติวงค์</td>
          <td>โรงเรียนบ้านสันปง</td>
          <td>มัธยมศึกษาปีที่ 4 </td>
          <td>วิทยาศาสตร์-คณิตศาสตร์</td>
          <td><button>ดูข้อมูล</button></td>
          <td><button>ดูเอกสาร</button></td>
        </tr>
        <tr>
          <td>2</td>
          <td>นาย ประยวย หัวเถิก</td>
          <td>โรงเรียนบ้านนาบุญโหล่งขอด</td>
          <td>มัธยมศึกษาปีที่ 4 </td>
          <td>วิทยาศาสตร์-คณิตศาสตร์</td>
          <td><button>ดูข้อมูล</button></td>
          <td><button>ดูเอกสาร</button></td>
        </tr>
        <tr>
          <td>3</td>
          <td>เด็กชาย วิจิตร จันทบุรี</td>
          <td>โรงเรียนบ้านแจ่งกู่เรือง</td>
          <td>มัธยมศึกษาปีที่ 1 </td>
          <td></td>
          <td><button>ดูข้อมูล</button></td>
          <td><button>ดูเอกสาร</button></td>
        </tr>
        <tr>
          <td>4</td>
          <td>เด็กหญิง อังศุมาลิน ไกรคุป</td>
          <td>โรงเรียนบ้านแม่ปั๋ง</td>
          <td>มัธยมศึกษาปีที่ 1 </td>
          <td></td>
          <td><button>ดูข้อมูล</button></td>
          <td><button>ดูเอกสาร</button></td>
        </tr>
      </tbody>
  </table>
  <div>
    <button>พิมพ์เอกสาร</button>
    <button>Clear</button>
  </div>
</form>
