body {
  background-color: rgb(216, 213, 213);
}

.headerText1 {
  text-align: center;
}

.img1{
  margin-top: 40px;
  text-align: center;
}

.formcontroller {
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 60px;
}

.label1 {
  margin-bottom: 15px;
  background-color: rgb(81, 8, 116);
  color: white;
}

.label2 {
  margin-top: 15px;
  background-color: rgb(81, 8, 116);
  color: white;
}

.formgroup1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btnSubmit {
  margin-top: 100px;
  text-align: center;
}

footer {
  color: white;
  text-align: center;
  background-color: rgb(81, 8, 116);
}
