<div>
    <div><h2>แก้ไขข้อมูล</h2></div>
    <div *ngIf="currentStudent" class="edit-form">
      <form>
        <div class="form-group">
          <label for="prename">คำนำหน้า</label>
          <input type="text" class="form-control" id="prename" readonly
                 [(ngModel)]="currentStudent.prename" name="prename">
        </div>
        <div class="form-group">
          <label for="prename">ชื่อ</label>
          <input type="text" class="form-control" id="name"
                 [(ngModel)]="currentStudent.name" name="name">
        </div>
        <div class="form-group">
          <label for="prename">นามสกุล</label>
          <input type="text" class="form-control" id="surname"
                 [(ngModel)]="currentStudent.surname" name="surname">
        </div>
        <div class="form-group">
          <label for="prename">เลขบัตรประจำตัวประชาชน</label>
          <input type="text" class="form-control" id="id_number"
                 [(ngModel)]="currentStudent.id_number" name="id_number">
        </div>
        <div class="form-group">
          <label for="prename">โทรศัพท์</label>
          <input type="text" class="form-control" id="tel"
                 [(ngModel)]="currentStudent.tel" name="tel">
        </div>
        <div class="form-group">
          <label for="prename">อีเมล์</label>
          <input type="text" class="form-control" id="email"
                 [(ngModel)]="currentStudent.email" name="email">
        </div>
        <div class="form-group">
          <label for="prename">บิดา</label>
          <input type="text" class="form-control" id="father_name"
                 [(ngModel)]="currentStudent.father_name" name="father_name">
        </div>
        <div class="form-group">
          <label for="prename">เบอร์โทรติดต่อบิดา</label>
          <input type="text" class="form-control" id="father_tel"
                 [(ngModel)]="currentStudent.father_tel" name="father_tel">
        </div>
        <div class="form-group">
          <label for="prename">มารดา</label>
          <input type="text" class="form-control" id="mother_name"
                 [(ngModel)]="currentStudent.mother_name" name="mother_name">
        </div>
        <div class="form-group">
          <label for="prename">เบอร์โทรติดต่อมารดา</label>
          <input type="text" class="form-control" id="mother_tel"
                 [(ngModel)]="currentStudent.mother_tel" name="mother_tel">
        </div>
        <div class="form-group">
          <label for="prename">ผู้ปกครอง</label>
          <input type="text" class="form-control" id="parent_name"
                 [(ngModel)]="currentStudent.parent_name" name="parent_name">
        </div>
        <div class="form-group">
          <label for="prename">เบอร์โทรติดต่อผู้ปกครอง</label>
          <input type="text" class="form-control" id="parent_tel"
                 [(ngModel)]="currentStudent.parent_tel" name="parent_tel">
        </div>
      </form>
      <button type="submit" class="badge badge-success" (click)="updateProfilestudent()">ยืนยัน</button>
    </div>
    <div *ngIf="!currentStudent">
      <br />
      <p>This product is not accessible</p>
    </div>
</div>
