<div>
    <div><h2>แก้ไขข้อมูล</h2></div>
    <div *ngIf="currentStudent" class="edit-form">
      <form>
        <div class="form-group">
          <label for="prename">คำนำหน้า</label>
          <input type="text" class="form-control" id="prename" readonly
                 [(ngModel)]="currentStudent.prename" name="prename">
        </div>
        <div class="form-group">
          <label for="prename">ชื่อ</label>
          <input type="text" class="form-control" id="name"
                 [(ngModel)]="currentStudent.name" name="name">
        </div>
        <div class="form-group">
          <label for="prename">นามสกุล</label>
          <input type="text" class="form-control" id="surname"
                 [(ngModel)]="currentStudent.surname" name="surname">
        </div>
        <div class="form-group">
          <label for="prename">เลขบัตรประจำตัวประชาชน</label>
          <input type="text" class="form-control" id="id_number"
                 [(ngModel)]="currentStudent.student_id_card" name="id_number">
        </div>
        <div class="form-group">
          <label for="prename">โทรศัพท์</label>
          <input type="text" class="form-control" id="tel"
                 [(ngModel)]="currentStudent.tel" name="tel">
        </div>
        <div class="form-group">
          <label for="prename">อีเมล์</label>
          <input type="text" class="form-control" id="email"
                 [(ngModel)]="currentStudent.email" name="email">
        </div>

      </form>
      <button type="submit" class="btn btn-success" (click)="updateProfilestudent()">ยืนยัน</button>
      <button type="submit" class="btn btn-danger" [routerLink] = "['/Showstudentbyid', currentStudent.id ]">ย้อนกลับ</button>
    </div>
    <div *ngIf="!currentStudent">
      <br />
      <p>This product is not accessible</p>
    </div>
</div>
