<div>
    <div><h2>แก้ไขข้อมูล</h2></div>
    <div>
        <label>ชื่อ : </label>
        <input type="text" name="name" id="name" placeholder="{{sciListid.name}}">
    </div>
    <div>
        <label>นามสกุล : </label>
        <input type="text" name="surname" id="surname" placeholder="{{sciListid.surname}}">
    </div>
    <div>
        <label>บัตรประจำตัวประชาชน : </label>
        <input type="text" name="id_number" id="id_number" placeholder="{{sciListid.id_number}}">
    </div>
    <div>
        <label>โทรศัพท์ : </label>
        <input type="text" name="tel" id="tel" placeholder="{{sciListid.tel}}">
    </div>
    <div>
        <label>อีเมล์ : </label>
        <input type="text" name="email" id="email" placeholder="{{sciListid.tel}}">
    </div>
    <h3>ข้อมูลครอบครัว</h3>
    <div>
        <label>บิดา : </label>
        <input type="text" name="father_name" id="father_name" placeholder="{{sciListid.father_name}}">
        <label>โทรศัพท์บิดา : </label>
        <input type="text" name="father_tel" id="father_tel" placeholder="{{sciListid.father_tel}}">
    </div>
    <div>
        <label>มารดา : </label>
        <input type="text" name="mother_name" id="mother_name" placeholder="{{sciListid.mother_name}}">
        <label>โทรศัพท์มารดา : </label>
        <input type="text" name="mother_tel" id="mother_tel" placeholder="{{sciListid.mother_tel}}">
    </div>
    <div>
        <label>ผู้ปกครอง: </label>
        <input type="text" name="parent_name" id="parent_name" placeholder="{{sciListid.parent_name}}">
        <label>โทรศัพท์ผู้ปกครอง : </label>
        <input type="text" name="parent_tel" id="parent_tel" placeholder="{{sciListid.parent_tel}}">
    </div>
    <div>
        <label>ทีอยู่ : </label>
        <input type="text" name="email" id="email" placeholder="{{sciListid.tel}}">
    </div>
    <div>
        <button type="submit">ยืนยัน</button>
        <button type="submit">ย้อนกลับ</button>
    </div>
</div>
