<div>
  <h3>Add Student Core</h3>
</div>
<div>
  <form (ngSubmit)="submit(); addstudentcore()">
    <!-- step1 -->
    <div *ngIf="step == 1">
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="เลขประจำตัวนักเรียน"
            aria-label="เลขประจำตัวนักเรียน"
            name="student_id"
            [(ngModel)]="studentcore.student_id"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="แผนการเรียน"
            aria-label="แผนการเรียน"
            name="student_major"
            [(ngModel)]="studentcore.student_major"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ระดับชั้น"
            aria-label="ระดับชั้น"
            name="student_class"
            [(ngModel)]="studentcore.student_class"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ลำดับห้อง"
            aria-label="ลำดับห้อง"
            name="student_room"
            [(ngModel)]="studentcore.student_room"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="เลขบัตรประจำตัวประชาชน"
            aria-label="เลขบัตรประจำตัวประชาชน"
            name="student_id_card"
            [(ngModel)]="studentcore.student_id_card"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="คำนำหน้าชื่อ"
            aria-label="คำนำหน้าชื่อ"
            name="prename"
            [(ngModel)]="studentcore.prename"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อภาษาไทย"
            aria-label="ชื่อภาษาไทย"
            name="name"
            [(ngModel)]="studentcore.name"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อกลาง"
            aria-label="ชื่อกลาง"
            name="name_cen"
            [(ngModel)]="studentcore.name_cen"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="นามสกุลภาษาไทย"
            aria-label="นามสกุลภาษาไทย"
            name="surname"
            [(ngModel)]="studentcore.surname"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="คำนำหน้าชื่อ(ภาษาอังกฤษ)"
            aria-label="คำนำหน้าชื่อ(ภาษาอังกฤษ)"
            name="prename_eng"
            [(ngModel)]="studentcore.prename_eng"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อ(ภาษาอังกฤษ)"
            aria-label="ชื่อ(ภาษาอังกฤษ)"
            name="name_eng"
            [(ngModel)]="studentcore.name_eng"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อกลาง(ภาษาอังกฤษ)"
            aria-label="ชื่อกลาง(ภาษาอังกฤษ)"
            name="name_cen_eng"
            [(ngModel)]="studentcore.name_cen_eng"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="นามสกุล(ภาษาอังกฤษ)"
            aria-label="นามสกุล(ภาษาอังกฤษ)"
            name="surname_eng"
            [(ngModel)]="studentcore.surname_eng"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <p>วันเดือนปีเกิดที่ปรากฏในบัตรประชาชน</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ปี"
            aria-label="ปี"
            name="birth_year"
            [(ngModel)]="studentcore.birth_year"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="เดือน"
            aria-label="เดือน"
            name="birth_month"
            [(ngModel)]="studentcore.birth_month"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="วัน"
            aria-label="วัน"
            name="birth_day"
            [(ngModel)]="studentcore.birth_day"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อเล่น"
            aria-label="ชื่อเล่น"
            name="nickname"
            [(ngModel)]="studentcore.nickname"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="เพศ"
            aria-label="เพศ"
            name="gender"
            [(ngModel)]="studentcore.gender"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="หมู่เลือด"
            aria-label="หมู่เลือด"
            name="bloodgroup"
            [(ngModel)]="studentcore.bloodgroup"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ศาสนา"
            aria-label="ศาสนา"
            name="religion"
            [(ngModel)]="studentcore.religion"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="เชื่อชาติ"
            aria-label="เชื่อชาติ"
            name="origin"
            [(ngModel)]="studentcore.origin"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="สัญชาติ"
            aria-label="สัญชาติ"
            name="nationality"
            [(ngModel)]="studentcore.nationality"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ภาษาที่ใช้ เช่น ไทย จีน อังกฤษ ญี่ปุ่น"
            aria-label="ภาษาที่ใช้ เช่น ไทย จีน อังกฤษ ญี่ปุ่น"
            name="language"
            [(ngModel)]="studentcore.language"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="หมายเลขโทรศัพท์ที่สามารถติดต่อได้"
            aria-label="หมายเลขโทรศัพท์ที่สามารถติดต่อได้"
            name="tel_s"
            [(ngModel)]="studentcore.tel_s"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="อีเมล์(example@email.com)"
            aria-label="อีเมล์(example@email.com)"
            name="email"
            [(ngModel)]="studentcore.email"
          />
        </div>
      </div>
    </div>
    <!-- step2 -->
    <div *ngIf="step == 2">
      <div class="row mb-3">
        <div class="col">
          <p>ที่อยู่ตามทะเบียนบ้าน</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="บ้านเลขที่"
            aria-label="บ้านเลขที่"
            name="house_number"
            [(ngModel)]="addstudents.house_number"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="หมู่"
            aria-label="หมู่"
            name="group"
            [(ngModel)]="addstudents.group"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อหมู่บ้าน"
            aria-label="ชื่อหมู่บ้าน"
            name="village"
            [(ngModel)]="addstudents.village"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ซอย"
            aria-label="ซอย"
            name="alley"
            [(ngModel)]="addstudents.alley"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ถนน"
            aria-label="ถนน"
            name="street"
            [(ngModel)]="addstudents.street"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ตำบล/แขวง"
            aria-label="ตำบล/แขวง"
            name="subdistrict"
            [(ngModel)]="addstudents.subdistrict"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="อำเภอ/เขต"
            aria-label="อำเภอ/เขต"
            name="district"
            [(ngModel)]="addstudents.district"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จังหวัด"
            aria-label="จังหวัด"
            name="province"
            [(ngModel)]="addstudents.province"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="รหัสไปรษณีย์"
            aria-label="รหัสไปรษณีย์"
            name="post"
            [(ngModel)]="addstudents.post"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <p>ที่อยู่ปัจจุบัน</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-auto">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
            name="address_now"
            [(ngModel)]="addstudents.address_now"
          />
          <label class="form-check-label" for="inlineRadio1"
            >ที่อยู่ตามทะเบียนบ้าน</label
          >
        </div>
        <div class="col-sm-auto">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option1"
            name="address_now"
            [(ngModel)]="addstudents.address_now"
          />
          <label class="form-check-label" for="inlineRadio1"
            >ที่อยู่อื่นโปรดระบุ</label
          >
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="บ้านเลขที่"
            aria-label="บ้านเลขที่"
            name="house_number_n"
            [(ngModel)]="addstudents.house_number_n"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="หมู่"
            aria-label="หมู่"
            name="group_n"
            [(ngModel)]="addstudents.group_n"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อหมู่บ้าน"
            aria-label="ชื่อหมู่บ้าน"
            name="village_n"
            [(ngModel)]="addstudents.village_n"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ซอย"
            aria-label="ซอย"
            name="alley_n"
            [(ngModel)]="addstudents.alley_n"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ถนน"
            aria-label="ถนน"
            name="street_n"
            [(ngModel)]="addstudents.street_n"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ตำบล/แขวง"
            aria-label="ตำบล/แขวง"
            name="subdistrict_n"
            [(ngModel)]="addstudents.subdistrict_n"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="อำเภอ/เขต"
            aria-label="อำเภอ/เขต"
            name="district_n"
            [(ngModel)]="addstudents.district_n"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จังหวัด"
            aria-label="จังหวัด"
            name="province_n"
            [(ngModel)]="addstudents.province_n"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="รหัสไปรษณีย์"
            aria-label="รหัสไปรษณีย์"
            name="post_n"
            [(ngModel)]="addstudents.post_n"
          />
        </div>
      </div>
    </div>
    <!-- step3 -->
    <div *ngIf="step == 3">
      <div class="row mb-3">
        <div class="col">
          <p>ด้านความสามารถ</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span>สำเร็จการศึกษา</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อโรงเรียน"
            aria-label="ชื่อโรงเรียน"
            name="final_school"
            [(ngModel)]="talent.final_school"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จบชั้น"
            aria-label="จบชั้น"
            name="final_class"
            [(ngModel)]="talent.final_class"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ผลการเรียน"
            aria-label="ผลการเรียน"
            name="avg_grade"
            [(ngModel)]="talent.avg_grade"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ตำบล/แขวง"
            aria-label="ตำบล/แขวง"
            name="f_subdistrict"
            [(ngModel)]="talent.f_subdistrict"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="อำเภอ/เขต"
            aria-label="อำเภอ/เขต"
            name="f_district"
            [(ngModel)]="talent.f_district"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จังหวัด"
            aria-label="จังหวัด"
            name="f_province"
            [(ngModel)]="talent.f_province"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span>วิชาที่ชอบ</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="1"
            aria-label="1"
            name="like_subject1"
            [(ngModel)]="talent.like_subject1"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="2"
            aria-label="2"
            name="like_subject2"
            [(ngModel)]="talent.like_subject2"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="3"
            aria-label="3"
            name="like_subject3"
            [(ngModel)]="talent.like_subject3"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="4"
            aria-label="4"
            name="like_subject4"
            [(ngModel)]="talent.like_subject4"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span>วิชาที่ไม่ถนัด</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="1"
            aria-label="1"
            name="unlike_subject1"
            [(ngModel)]="talent.unlike_subject1"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="2"
            aria-label="2"
            name="unlike_subject2"
            [(ngModel)]="talent.unlike_subject2"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="3"
            aria-label="3"
            name="unlike_subject3"
            [(ngModel)]="talent.unlike_subject3"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="4"
            aria-label="4"
            name="unlike_subject4"
            [(ngModel)]="talent.unlike_subject4"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span>เป้าหมายของชีวิตในอนาคต</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ความสามารถพิเศษ"
            aria-label="ความสามารถพิเศษ"
            name="talent"
            [(ngModel)]="talent.talent"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="อยากประกอบอาชีพ"
            aria-label="อยากประกอบอาชีพ"
            name="dream_job"
            [(ngModel)]="talent.dream_job"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="เพราะอะไร"
            aria-label="เพราะอะไร"
            name="because"
            [(ngModel)]="talent.because"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span>การอ่านเขียน(เลือก 1 ข้อ)</span>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <button class="btn btn-secondary" name="read_write"
          [(ngModel)]="talent.read_write">อ่านเขียนคล่อง</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="read_write"
          [(ngModel)]="talent.read_write">อ่านเขียนไม่คล่อง</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="read_write"
          [(ngModel)]="talent.read_write">อ่านเขียนได้</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="read_write"
          [(ngModel)]="talent.read_write">อ่านเขียนไม่ได้</button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span>นักเรียนไม่เข้าใจบทเรียนทุกวิชา(เลือก 1 ข้อ)</span>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <button class="btn btn-secondary" name="understand"
          [(ngModel)]="talent.understand">ใช่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="understand"
          [(ngModel)]="talent.understand">ไม่ใช่</button>
        </div>
      </div>
    </div>
    <!-- step4 -->
    <div *ngIf="step == 4">
      <div class="row mb-3">
        <div class="col">
          <span>การเดินทาง</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="การเดินทางมาโรงเรียน"
            aria-label="การเดินทางมาโรงเรียน"
            name="go_school"
            [(ngModel)]="studentdetail.go_school"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ระยะเวลาเดินทาง(นาที)"
            aria-label="ระยะเวลาเดินทาง(นาที)"
            name="distance"
            [(ngModel)]="studentdetail.distance"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ระยะห่างจากโรงเรียน(เมตร)"
            aria-label="ระยะห่างจากโรงเรียน(เมตร)"
            name="long_distance"
            [(ngModel)]="studentdetail.long_distance"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span>การเรียนออนไลน์</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span>อุปกรณ์ที่มี</span>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <button class="btn btn-secondary" name="gadject1"
          [(ngModel)]="studentdetail.gadject1">มือถือ/สมาร์ทโฟน</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="gadject2"
          [(ngModel)]="studentdetail.gadject2">แท็บเล็ต</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="gadject3"
          [(ngModel)]="studentdetail.gadject3">โน๊ตบุค</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="gadject4"
          [(ngModel)]="studentdetail.gadject4">คอมพิวเตอร์</button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span>อินเตอร์เน็ตที่ใช้</span>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <button class="btn btn-secondary" name="internet1"
          [(ngModel)]="studentdetail.internet1">อินเตอร์เน็ตมือถือ</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="internet2"
          [(ngModel)]="studentdetail.internet2">อินเตอร์เน็ตสาย</button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span>ข้อมูลด้านอื่นๆ</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ความพิการ"
            aria-label="ความพิการ"
            name="disebled"
            [(ngModel)]="studentdetail.disebled"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ความด้อยโอกาส"
            aria-label="ความด้อยโอกาส"
            name="unfortuned"
            [(ngModel)]="studentdetail.unfortuned"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span>ความขาดแคลน(เลือกได้มากกว่า 1 ข้อ)</span>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <button class="btn btn-secondary" name="lack1"
          [(ngModel)]="studentdetail.lack1">ขาดแคลนแบบเรียน</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="lack2"
          [(ngModel)]="studentdetail.lack2">ขาดแคลนเครื่องเขียน</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="lack3"
          [(ngModel)]="studentdetail.lack3">ขาดแคลนอาหารกลางวัน</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="lack4"
          [(ngModel)]="studentdetail.lack4">ขาดแคลนเครื่องแบบ</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="lack5"
          [(ngModel)]="studentdetail.lack5">ไม่ขาดแคลน</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <span>คบเพื่อนที่เกี่ยวกับสิ่งเสพติด</span>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="friend_drug"
          [(ngModel)]="studentdetail.friend_drug">ใช่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="friend_drug"
          [(ngModel)]="studentdetail.friend_drug">ไม่ใช่</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <span>มีพฤติกรรมส่อไปทางชู้สาว</span>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="sexual"
          [(ngModel)]="studentdetail.sexual">ใช่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="sexual"
          [(ngModel)]="studentdetail.sexual">ไม่ใช่</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <span>ชอบเที่ยวกลางคืน</span>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="dark_travel"
          [(ngModel)]="studentdetail.dark_travel">ใช่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="dark_travel"
          [(ngModel)]="studentdetail.dark_travel">ไม่ใช่</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <span>มีพฤติกรรมเสพหรือจำหน่ายสิ่งเสพติด</span>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="sell_drug"
          [(ngModel)]="studentdetail.sell_drug">ใช่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="sell_drug"
          [(ngModel)]="studentdetail.sell_drug">ไม่ใช่</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <span>พักหรืออยู่อาสัยกับเพื่อนต่างเพศที่ไม่ใช่ญาติพี่น้อง</span>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="not_parent"
          [(ngModel)]="studentdetail.not_parent">ใช่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="not_parent"
          [(ngModel)]="studentdetail.not_parent">ไม่ใช่</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <span>มีการล่วงละเมิดทางเพศ</span>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="sexual_harrasment"
          [(ngModel)]="studentdetail.sexual_harrasment">ใช่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="sexual_harrasment"
          [(ngModel)]="studentdetail.sexual_harrasment">ไม่ใช่</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <span>นักเรียนรู้สึกว่าโลกนี้(เลือก 1 ข้อ)</span>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="cute_world"
          [(ngModel)]="studentdetail.cute_world">น่าอยู่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="cute_world"
          [(ngModel)]="studentdetail.cute_world">ไม่น่าอยู่</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <span>นักเรียนรู้สึกว่าตัวเอง(เลือก 1 ข้อ)</span>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="rich_man"
          [(ngModel)]="studentdetail.rich_man">มีค่า</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="rich_man"
          [(ngModel)]="studentdetail.rich_man">ไม่มีค่า</button>
        </div>
      </div>
      <div class="row mb-3"></div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="นักเรียนคิดว่าคนที่ดีควรมีลักษณะอย่างไร"
            aria-label="นักเรียนคิดว่าคนที่ดีควรมีลักษณะอย่างไร"
            name="good_guy"
            [(ngModel)]="studentdetail.good_guy"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="นักเรียนคิดว่าสังคมที่ดีควรมีลักษณะอย่างไร"
            aria-label="นักเรียนคิดว่าสังคมที่ดีควรมีลักษณะอย่างไร"
            name="social_good"
            [(ngModel)]="studentdetail.social_good"
          />
        </div>
      </div>
      <div class="row mb-auto">
        <span
          >ปัญหาเรื่องใดที่นักเรียนกำลังประสบอยู่ในขณะนี้(เลือกได้มากกว่า 1
          ข้อ)</span
        >
        <div class="col mb-3">
          <button class="btn btn-secondary" name="problem1"
          [(ngModel)]="studentdetail.problem1">ครอบครัว</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="problem2"
          [(ngModel)]="studentdetail.problem2">การเรียน</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="problem3"
          [(ngModel)]="studentdetail.problem3">สุขภาพ</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="problem4"
          [(ngModel)]="studentdetail.problem4">เศรษฐกิจ</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="problem5"
          [(ngModel)]="studentdetail.problem5">การคบเพื่อน</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <button class="btn btn-secondary" name="problem6"
          [(ngModel)]="studentdetail.problem6">การวางตัวในสังคม</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="problem7"
          [(ngModel)]="studentdetail.problem7">การใช้เวลาว่าง</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="problem8"
          [(ngModel)]="studentdetail.problem8">การเลือกอาชีพ</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="problem9"
          [(ngModel)]="studentdetail.problem9">การเลือกศึกษาต่อ</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="problem10"
          [(ngModel)]="studentdetail.problem10">
            การปรับตัวเข้ากับครู-อาจารย์ในโรงเรียน
          </button>
        </div>
      </div>
      <div class="row mb-auto">
        <span
          >ถ้าต้องการความช่วยเหลือ/ปรึกษา
          นักเรียนต้องการความช่วยเหลือ/ปรึกษาจากใคร(เลือกได้มากกว่า 1 ข้อ)</span
        >
        <div class="col mb-3">
          <button class="btn btn-secondary" name="help1"
          [(ngModel)]="studentdetail.help1">บิดา</button>
          <!-- <input type="button" class="btn btn-secondary" value="บิดา"> -->
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="help2"
          [(ngModel)]="studentdetail.help2">มารดา</button>
          <!-- <input type="button" class="btn btn-secondary" value="มารดา"> -->
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="help3"
          [(ngModel)]="studentdetail.help3">ครูแนะแนว</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="help4"
          [(ngModel)]="studentdetail.help4">ครูที่ปรึกษา</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="help5"
          [(ngModel)]="studentdetail.help5">เพื่อน</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="help6"
          [(ngModel)]="studentdetail.help6">อื่นๆ</button>
        </div>
      </div>
    </div>
    <!-- step5 -->
    <div *ngIf="step == 5">
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="น้ำหนัก"
            aria-label="น้ำหนัก"
            name="weight"
            [(ngModel)]="healty.weight"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ส่วนสูง"
            aria-label="ส่วนสูง"
            name="height"
            [(ngModel)]="healty.height"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="โรคประจำตัว"
            aria-label="โรคประจำตัว"
            name="disease"
            [(ngModel)]="healty.disease"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ยาที่แพ้"
            aria-label="ยาที่แพ้"
            name="medicine_lose"
            [(ngModel)]="healty.medicine_lose"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ยาที่ต้องรับประทานประจำ"
            aria-label="ยาที่ต้องรับประทานประจำ"
            name="medicine"
            [(ngModel)]="healty.medicine"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="วิธีแก้ไขเมื่ออาการ"
            aria-label="วิธีแก้ไขเมื่ออาการ"
            name="remedy"
            [(ngModel)]="healty.remedy"
          />
        </div>
      </div>
      <div class="row mb-auto">
        <span
          >นักเรียนมีภาวะทางสายตา(เลือกได้มากกว่า 1 อย่าง เช่น
          สายตาสั้น-เอียง)</span
        >
        <div class="col mb-3">
          <button class="btn btn-secondary" name="sight_eye1"
          [(ngModel)]="healty.sight_eye1">ปกติ</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="sight_eye2"
          [(ngModel)]="healty.sight_eye2">สายตาสั้น</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="sight_eye3"
          [(ngModel)]="healty.sight_eye3">สายตายาว</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="sight_eye4"
          [(ngModel)]="healty.sight_eye4">สายตาเอียง</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="sight_eye5"
          [(ngModel)]="healty.sight_eye5">ตาบอดสี</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="sight_eye6"
          [(ngModel)]="healty.sight_eye6">อื่นๆ</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <span>นักเรียนสวมแว่นตา</span>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="glasses"
          [(ngModel)]="healty.glasses">ใช่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="glasses"
          [(ngModel)]="healty.glasses">ไม่ใช่</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <span>นักเรียนมีความบกพร่องทางการได้ยิน</span>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="unsound"
          [(ngModel)]="healty.unsound">ใช่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="unsound"
          [(ngModel)]="healty.unsound">ไม่ใช่</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <span>นักเรียนป่วยเป็นโรคร้ายแรงหรือเรื้อรัง</span>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="danger"
          [(ngModel)]="healty.danger">ใช่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="danger"
          [(ngModel)]="healty.danger">ไม่ใช่</button>
        </div>
      </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <span>นักเรียนมีความบกพร่องทางร่างกาย</span>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="defective"
          [(ngModel)]="healty.defective">ใช่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary" name="defective"
          [(ngModel)]="healty.defective">ไม่ใช่</button>
        </div>
      </div>
    </div>
    <!-- step6 -->
    <div *ngIf="step == 6">
      <div class="row mb-3">
        <span>ข้อมูลบิดา</span>
        <div class="col">
          <select class="form-select">
            <option value="1">คำนำหน้าชื่อ</option>
          </select>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อภาษาไทย"
            aria-label="ชื่อภาษาไทย"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อกลาง"
            aria-label="ชื่อกลาง"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="นามสกุลภาษาไทย"
            aria-label="นามสกุลภาษาไทย"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="เลขบัตรประจำตัวประชาชน"
            aria-label="เลขบัตรประจำตัวประชาชน"
          />
        </div>
        <div class="col">
          <select class="form-select">
            <option value="1">ชนิดของบัตร</option>
          </select>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="อายุ"
            aria-label="อายุ"
          />
        </div>
        <div class="col">
          <select class="form-select">
            <option value="1">หมู่เลือด</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ประกอบอาชีพ"
            aria-label="ประกอบอาชีพ"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="รายได้ต่อเดือน(บาท)"
            aria-label="รายได้ต่อเดือน(บาท)"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="หมายเลขโทรศัพท์"
            aria-label="หมายเลขโทรศัพท์"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="บ้านเลขที่"
            aria-label="บ้านเลขที่"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="หมู่"
            aria-label="หมู่"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อหมู่บ้าน"
            aria-label="ชื่อหมู่บ้าน"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ซอย"
            aria-label="ซอย"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ถนน"
            aria-label="ถนน"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ตำบล/แขวง"
            aria-label="ตำบล/แขวง"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="อำเภอ/เขต"
            aria-label="อำเภอ/เขต"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จังหวัด"
            aria-label="จังหวัด"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="รหัสไปรษณีย์"
            aria-label="รหัสไปรษณีย์"
          />
        </div>
      </div>
      <div class="row mb-3">
        <span>ข้อมูลมารดา</span>
        <div class="col">
          <select class="form-select">
            <option value="1">คำนำหน้าชื่อ</option>
          </select>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อภาษาไทย"
            aria-label="ชื่อภาษาไทย"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อกลาง"
            aria-label="ชื่อกลาง"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="นามสกุลภาษาไทย"
            aria-label="นามสกุลภาษาไทย"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="เลขบัตรประจำตัวประชาชน"
            aria-label="เลขบัตรประจำตัวประชาชน"
          />
        </div>
        <div class="col">
          <select class="form-select">
            <option value="1">ชนิดของบัตร</option>
          </select>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="อายุ"
            aria-label="อายุ"
          />
        </div>
        <div class="col">
          <select class="form-select">
            <option value="1">หมู่เลือด</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ประกอบอาชีพ"
            aria-label="ประกอบอาชีพ"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="รายได้ต่อเดือน(บาท)"
            aria-label="รายได้ต่อเดือน(บาท)"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="หมายเลขโทรศัพท์"
            aria-label="หมายเลขโทรศัพท์"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="บ้านเลขที่"
            aria-label="บ้านเลขที่"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="หมู่"
            aria-label="หมู่"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อหมู่บ้าน"
            aria-label="ชื่อหมู่บ้าน"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ซอย"
            aria-label="ซอย"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ถนน"
            aria-label="ถนน"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ตำบล/แขวง"
            aria-label="ตำบล/แขวง"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="อำเภอ/เขต"
            aria-label="อำเภอ/เขต"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จังหวัด"
            aria-label="จังหวัด"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="รหัสไปรษณีย์"
            aria-label="รหัสไปรษณีย์"
          />
        </div>
      </div>
      <div class="row mb-3">
        <span>ข้อมูลผู้ปกครอง</span>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="checkbox" id="f" />
          <label for="f">มิดา</label>
        </div>
        <div class="col">
          <input type="checkbox" id="m" />
          <label for="m">มารดา</label>
        </div>
        <div class="col">
          <input type="checkbox" id="p" />
          <label for="p">บุคคลอื่น(โปรดระบุ)</label>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <select class="form-select">
            <option value="1">คำนำหน้าชื่อ</option>
          </select>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อภาษาไทย"
            aria-label="ชื่อภาษาไทย"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อกลาง"
            aria-label="ชื่อกลาง"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="นามสกุลภาษาไทย"
            aria-label="นามสกุลภาษาไทย"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="เลขบัตรประจำตัวประชาชน"
            aria-label="เลขบัตรประจำตัวประชาชน"
          />
        </div>
        <div class="col">
          <select class="form-select">
            <option value="1">ชนิดของบัตร</option>
          </select>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="อายุ"
            aria-label="อายุ"
          />
        </div>
        <div class="col">
          <select class="form-select">
            <option value="1">หมู่เลือด</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ประกอบอาชีพ"
            aria-label="ประกอบอาชีพ"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="รายได้ต่อเดือน(บาท)"
            aria-label="รายได้ต่อเดือน(บาท)"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="หมายเลขโทรศัพท์"
            aria-label="หมายเลขโทรศัพท์"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="บ้านเลขที่"
            aria-label="บ้านเลขที่"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="หมู่"
            aria-label="หมู่"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ชื่อหมู่บ้าน"
            aria-label="ชื่อหมู่บ้าน"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ซอย"
            aria-label="ซอย"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ถนน"
            aria-label="ถนน"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ตำบล/แขวง"
            aria-label="ตำบล/แขวง"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="อำเภอ/เขต"
            aria-label="อำเภอ/เขต"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จังหวัด"
            aria-label="จังหวัด"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="รหัสไปรษณีย์"
            aria-label="รหัสไปรษณีย์"
          />
        </div>
      </div>
      <div class="row mb-3">
        <span>ข้อมูลครอบครัวเบื้องต้น</span>
        <div class="col">
          <select class="form-select">
            <option value="1">สถานภาพสมรสของบิดามารดา</option>
          </select>
        </div>
        <div class="col">
          <select class="form-select">
            <option value="1">สถานะผู้ปกครองนักเรียน</option>
          </select>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จำนวนพี่น้องร่วมสายโลหิต"
            aria-label="จำนวนพี่น้องร่วมสายโลหิต"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จำนวนพี่ชาย"
            aria-label="จำนวนพี่ชาย"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จำนวนน้องชาย"
            aria-label="จำนวนน้องชาย"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จำนวนพี่สาว"
            aria-label="จำนวนพี่สาว"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จำนวนน้องสาว"
            aria-label="จำนวนน้องสาว"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="นักเรียนเป็นบุตรคนที่"
            aria-label="นักเรียนเป็นบุตรคนที่"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จำนวนพี่น้องที่ศึกษาอยู่(ไม่นับรวมนักเรียน)"
            aria-label="จำนวนพี่น้องที่ศึกษาอยู่(ไม่นับรวมนักเรียน)"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จำนวนพี่น้องที่ประกอบอาชีพแล้ว"
            aria-label="จำนวนพี่น้องที่ประกอบอาชีพแล้ว"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="จำนวนพี่น้องที่อยู่ในความอุปการะของครอบครัว"
            aria-label="จำนวนพี่น้องที่อยู่ในความอุปการะของครอบครัว"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="นักเรียนมีหน้าที่รับผิดชอบภายในบ้านหรือนอกเหนือจากการเรียน ได้แก่"
            aria-label="นักเรียนมีหน้าที่รับผิดชอบภายในบ้านหรือนอกเหนือจากการเรียน ได้แก่"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="นักเรียนนำเงินมาโรงเรียนวันละ(บาท)"
            aria-label="นักเรียนนำเงินมาโรงเรียนวันละ(บาท)"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="รายได้ของครอบครัว"
            aria-label="รายได้ของครอบครัว"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="ผู้ออกค่าใช้จ่ายให้นักเรียน(ชื่อ-นามสกุล)"
            aria-label="ผู้ออกค่าใช้จ่ายให้นักเรียน(ชื่อ-นามสกุล)"
          />
        </div>
        <div class="col">
          <select class="form-select">
            <option value="1">เกี่ยวข้องเป็น</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <span>การหารายได้ด้วยตัวเอง</span>
        <div class="col">
          <input type="checkbox" />
          <label>มี</label>
          <input type="checkbox" />
          <label>ไม่มี</label>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="โปรดระบุความสามารถพิเศษ"
            aria-label="โปรดระบุความสามารถพิเศษ"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="รายได้เฉลี่ยวันละ(บาท)"
            aria-label="รายได้เฉลี่ยวันละ(บาท)"
          />
        </div>
      </div>
    </div>
      <div class="container" align="center">
        <div class="row mb-auto">
          <div class="col mb-3">
            <button class="btn btn-danger" *ngIf="step !=1" (click)="back()">ย้อนกลับ</button>
          </div>
          <div class="col mb-3">
            <button class="btn btn-primary" *ngIf="step !=7">ถัดไป</button>
          </div>
          <div class="col mb-3">
            <button class="btn btn-primary" *ngIf="step ==7">ยืนยัน</button>
          </div>
        </div>
      </div>
    <!-- step7 -->
  </form>
</div>
