<div>
  <h3>Add Student Core</h3>
</div>
<div>
  <form>
    <!-- step1 -->
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="เลขประจำตัวนักเรียน" aria-label="เลขประจำตัวนักเรียน">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="แผนการเรียน" aria-label="แผนการเรียน">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ระดับชั้น" aria-label="ระดับชั้น">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ลำดับห้อง" aria-label="ลำดับห้อง">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="เลขบัตรประจำตัวประชาชน" aria-label="เลขบัตรประจำตัวประชาชน">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="คำนำหน้าชื่อ" aria-label="คำนำหน้าชื่อ">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ชื่อภาษาไทย" aria-label="ชื่อภาษาไทย">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ชื่อกลาง" aria-label="ชื่อกลาง">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="นามสกุลภาษาไทย" aria-label="นามสกุลภาษาไทย">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="คำนำหน้าชื่อ(ภาษาอังกฤษ)" aria-label="คำนำหน้าชื่อ(ภาษาอังกฤษ)">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ชื่อ(ภาษาอังกฤษ)" aria-label="ชื่อ(ภาษาอังกฤษ)">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ชื่อกลาง(ภาษาอังกฤษ)" aria-label="ชื่อกลาง(ภาษาอังกฤษ)">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="นามสกุล(ภาษาอังกฤษ)" aria-label="นามสกุล(ภาษาอังกฤษ)">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <p>วันเดือนปีเกิดที่ปรากฏในบัตรประชาชน</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="ปี" aria-label="ปี">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="เดือน" aria-label="เดือน">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="วัน" aria-label="วัน">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="ชื่อเล่น" aria-label="ชื่อเล่น">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="เพศ" aria-label="เพศ">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="หมู่เลือด" aria-label="หมู่เลือด">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ศาสนา" aria-label="ศาสนา">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="เชื่อชาติ" aria-label="เชื่อชาติ">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="สัญชาติ" aria-label="สัญชาติ">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="ภาษาที่ใช้ เช่น ไทย จีน อังกฤษ ญี่ปุ่น" aria-label="ภาษาที่ใช้ เช่น ไทย จีน อังกฤษ ญี่ปุ่น">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="หมายเลขโทรศัพท์ที่สามารถติดต่อได้" aria-label="หมายเลขโทรศัพท์ที่สามารถติดต่อได้">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="อีเมล์(example@email.com)" aria-label="อีเมล์(example@email.com)">
      </div>
    </div>
    <div class="container" align = 'center'>
      <div class="col-md-auto">
        <button class="btn btn-primary">ถัดไป</button>
      </div>
    </div>
    <!-- step2 -->
    <div class="row mb-3">
      <div class="col">
        <p>ที่อยู่ตามทะเบียนบ้าน</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="บ้านเลขที่" aria-label="บ้านเลขที่">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="หมู่" aria-label="หมู่">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ชื่อหมู่บ้าน" aria-label="ชื่อหมู่บ้าน">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ซอย" aria-label="ซอย">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ถนน" aria-label="ถนน">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="ตำบล/แขวง" aria-label="ตำบล/แขวง">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="อำเภอ/เขต" aria-label="อำเภอ/เขต">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="จังหวัด" aria-label="จังหวัด">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="รหัสไปรษณีย์" aria-label="รหัสไปรษณีย์">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <p>ที่อยู่ปัจจุบัน</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-auto">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">ที่อยู่ตามทะเบียนบ้าน</label>
      </div>
      <div class="col-sm-auto">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1">
        <label class="form-check-label" for="inlineRadio1">ที่อยู่อื่นโปรดระบุ</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="บ้านเลขที่" aria-label="บ้านเลขที่">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="หมู่" aria-label="หมู่">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ชื่อหมู่บ้าน" aria-label="ชื่อหมู่บ้าน">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ซอย" aria-label="ซอย">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ถนน" aria-label="ถนน">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="ตำบล/แขวง" aria-label="ตำบล/แขวง">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="อำเภอ/เขต" aria-label="อำเภอ/เขต">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="จังหวัด" aria-label="จังหวัด">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="รหัสไปรษณีย์" aria-label="รหัสไปรษณีย์">
      </div>
    </div>
    <div class="container" align = 'center'>
      <div class="row mb-auto">
        <div class="col mb-3">
          <button class="btn btn-danger">ย้อนกลับ</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-primary">ถัดไป</button>
        </div>
      </div>
    </div>
    <!-- step3 -->
    <div class="row mb-3">
      <div class="col">
        <p>ด้านความสามารถ</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <span>สำเร็จการศึกษา</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="ชื่อโรงเรียน" aria-label="ชื่อโรงเรียน">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="จบชั้น" aria-label="จบชั้น">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ผลการเรียน" aria-label="ผลการเรียน">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="ตำบล/แขวง" aria-label="ตำบล/แขวง">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="อำเภอ/เขต" aria-label="อำเภอ/เขต">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="จังหวัด" aria-label="จังหวัด">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <span>วิชาที่ชอบ</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="1" aria-label="1">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="2" aria-label="2">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="3" aria-label="3">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="4" aria-label="4">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <span>วิชาที่ไม่ถนัด</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="1" aria-label="1">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="2" aria-label="2">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="3" aria-label="3">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="4" aria-label="4">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <span>เป้าหมายของชีวิตในอนาคต</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="ความสามารถพิเศษ" aria-label="ความสามารถพิเศษ">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="อยากประกอบอาชีพ" aria-label="อยากประกอบอาชีพ">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="เพราะอะไร" aria-label="เพราะอะไร">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <span>การอ่านเขียน(เลือก 1 ข้อ)</span>
      </div>
    </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <button class="btn btn-secondary">อ่านเขียนคล่อง</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary">อ่านเขียนไม่คล่อง</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary">อ่านเขียนได้</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary">อ่านเขียนไม่ได้</button>
        </div>
      </div>
    <div class="row mb-3">
      <div class="col">
        <span>นักเรียนไม่เข้าใจบทเรียนทุกวิชา(เลือก 1 ข้อ)</span>
      </div>
    </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <button class="btn btn-secondary">ใช่</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary">ไม่ใช่</button>
        </div>
      </div>
    <div class="container" align = 'center'>
      <div class="row mb-auto">
        <div class="col mb-3">
          <button class="btn btn-danger">ย้อนกลับ</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-primary">ถัดไป</button>
        </div>
      </div>
    </div>
    <!-- step4 -->
    <div class="row mb-3">
      <div class="col">
        <span>การเดินทาง</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="การเดินทางมาโรงเรียน" aria-label="การเดินทางมาโรงเรียน">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ระยะเวลาเดินทาง(นาที)" aria-label="ระยะเวลาเดินทาง(นาที)">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ระยะห่างจากโรงเรียน(เมตร)" aria-label="ระยะห่างจากโรงเรียน(เมตร)">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <span>การเรียนออนไลน์</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="การเดินทางมาโรงเรียน" aria-label="การเดินทางมาโรงเรียน">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ระยะเวลาเดินทาง(นาที)" aria-label="ระยะเวลาเดินทาง(นาที)">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ระยะห่างจากโรงเรียน(เมตร)" aria-label="ระยะห่างจากโรงเรียน(เมตร)">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <span>อุปกรณ์ที่มี</span>
      </div>
    </div>
      <div class="row mb-auto">
        <div class="col mb-3">
          <button class="btn btn-secondary">มือถือ/สมาร์ทโฟน</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary">แท็บเล็ต</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary">โน๊ตบุค</button>
        </div>
        <div class="col mb-3">
          <button class="btn btn-secondary">คอมพิวเตอร์</button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span>อินเตอร์เน็ตที่ใช้</span>
        </div>
      </div>
        <div class="row mb-auto">
          <div class="col mb-3">
            <button class="btn btn-secondary">อินเตอร์เน็ตมือถือ</button>
          </div>
          <div class="col mb-3">
            <button class="btn btn-secondary">อินเตอร์เน็ตสาย</button>
          </div>
        </div>
  </form>
</div>
