
<div>
  <h3>Student List</h3>
</div>
  <div>
    <div>
      <label>คำนำหน้า : </label>
      <select [(ngModel)] = "searchPrename" autocomplete="off">
        <option  *ngFor = "let p of prename">{{p}}</option>
      </select>
    </div>
    <div>
      <label>ชื่อ : </label>
      <input type="text" [(ngModel)] = "searchName" autocomplete="off">
    </div>
    <div>
      <label>นามสกุล : </label>
      <input type="text" [(ngModel)] = "searchSurname" autocomplete="off">
    </div>
    <div>
      <label>รหัสนักเรียน : </label>
      <input type="text" [(ngModel)] = "searchStudentID" autocomplete="off">
    </div>
    <div>
      <button class="btn btn-danger" [routerLink] = "['/mainpage']">ย้อนกลับ</button>
    </div>
    <div>
      <table datatable class="table table-bordered border-primary">
        <thead>
          <th>Student ID</th>
          <th>Name</th>
          <th>Surname</th>
          <th>ShowstudentbyID</th>
        </thead>
        <tbody>
          <tr *ngFor = "let s of sciList | filter:searchPrename | filter:searchName | filter:searchSurname
                                        | filter:searchStudentID">
            <td>{{s.student_id}}</td>
            <td>{{s.prename}}{{s.name}}</td>
            <td>{{s.surname}}</td>
            <td><button [routerLink] = "['/Showstudentbyid', s.id ]">Show</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

