<form>
  <div>
    <h2>ใบสมัครเข้าเรียนต่อชั้นมัธยมศึกษาปีที่ 4</h2>
    <h4>ศูนย์รับสมัครโรงเรียนพร้าววิทยาคม สำนักงานเขตพื้นที่การศึกษามัธยมศึกษา เขต 34</h4>
  </div>
  <form
    id="formNewstudentm4"
    name="formNewstudentm4"
    #newStudentm4NewData="ngForm"
    (ngSubmit)="addNewstudentm4(newStudentm4NewData.value)">
    <div>
        <label>คำนำหน้า</label>
        <select id="prename" name="prename" ngModel>
          <option *ngFor='let p of prename'>{{p}}</option>
        </select>
        <label>ชื่อ</label>
        <input id="name" name="name" ngModel>
        <label>ชื่อกลาง</label>
        <input id="name_cen" name="name_cen" ngModel>
        <label>นามสกุล</label>
        <input id="surname" name="surname" ngModel>
        <label>เพศ</label>
        <select id="sex" name="sex" ngModel>
          <option *ngFor='let g of gender'>{{g}}</option>
        </select>
    </div>
    <div>
      <label>เลขประจำตัวประชาชน</label>
      <input id="id_number" name="id_number" ngModel>
      <label>วันเดือนปีเกิด</label>
      <input id="birthday" name="birthday" ngModel>
    </div>
    <div>
      <label>ศาสนา</label>
      <input id="religion" name="religion" ngModel>
      <label>เชื้อชาติ</label>
      <input id="nationality" name="nationality" ngModel>
      <label>สัญชาติ</label>
      <input id="origin" name="origin" ngModel>
    </div>
    <div>
      <label>ชื่อบิดา</label>
      <input id="father_name" name="father_name" ngModel>
      <label>ชื่อกลาง</label>
      <input id="father_namecen" name="father_namecen" ngModel>
      <label>นามสกุลบิดา</label>
      <input id="father_surname" name="father_surname" ngModel>
      <label>เลขประจำตัวประชาชน</label>
      <input id="father_id" name="father_id" ngModel>
      <label>อาชีพ</label>
      <input id="father_job" name="father_job" ngModel>
      <label>โทรศัพท์</label>
      <input id="father_tel" name="father_tel" ngModel>
    </div>
    <div>
      <label>ชื่อมารดา</label>
      <input id="mother_name" name="mother_name" ngModel>
      <label>ชื่อกลาง</label>
      <input id="mother_namecen" name="mother_namecen" ngModel>
      <label>นามสกุลมารดา</label>
      <input id="mother_surname" name="mother_surname" ngModel>
      <label>เลขประจำตัวประชาชน</label>
      <input id="mother_id" name="mother_id" ngModel>
      <label>อาชีพ</label>
      <input id="mother_job" name="mother_job" ngModel>
      <label>โทรศัพท์</label>
      <input id="mother_tel" name="mother_tel" ngModel>
    </div>
    <div>
      <label>ผู้ปกครอง</label>
      <input type="checkbox">
      <label>บิดา</label>
      <input type="checkbox">
      <label>มารดา</label>
      <label>ถ้าเป็นบุคลอื่นโปรดระบุความสัมพันธ์</label>
      <input>
    </div>
    <div>
      <label>ชื่อผู้ปกครอง</label>
      <input id="parent_name" name="parent_name" ngModel>
      <label>ชื่อกลาง</label>
      <input id="parent_namecen" name="parent_namecen" ngModel>
      <label>นามสกุลผู้ปกครอง</label>
      <input id="parent_surname" name="parent_surname" ngModel>
      <label>อาชีพ</label>
      <input id="parent_job" name="parent_job" ngModel>
      <label>โทรศัพท์</label>
      <input id="parent_tel" name="parent_tel" ngModel>
    </div>
    <div>
      <label>บ้านเลขที่</label>
      <input id="house_number" name="house_number" ngModel>
      <label>หมู่ที่</label>
      <input id="bloc" name="bloc" ngModel>
      <label>ซอย</label>
      <input id="street" name="street" ngModel>
      <label>ถนน</label>
      <input id="road" name="road" ngModel>
    </div>
    <div>
      <label>ตำบล/แขวง</label>
      <input id="sub_district" name="sub_district" ngModel>
      <label>อำเภอ/เขต</label>
      <input id="district" name="district" ngModel>
      <label>จังหวัด</label>
      <input id="province" name="province" ngModel>
      <label>รหัสไปรษณีย์</label>
      <input id="post" name="post" ngModel>
    </div>
    <div>
      <label>สำเร็จการศึกษา ชั้นมัธยมศึกษาปีที่ 3 จากโรงเรียน</label>
      <input id="final_school" name="final_school" ngModel>
    </div>
    <div>
      <label>ตำบล</label>
      <input id="final_school_sub_district" name="final_school_sub_district" ngModel>
      <label>อำเภอ</label>
      <input id="final_school_district" name="final_school_district" ngModel>
      <label>จังหวัด</label>
      <input id="final_school_province" name="final_school_province" ngModel>
    </div>
    <div>
      <label>เลขประจำตัวนักเรียน(เฉพาะนักเรียน ม.3 โรงเรียนพร้าววิทยาคม)</label>
      <input id="student_id" name="student_id" ngModel>
    </div>
    <div>
      <h5>คะแนน o net</h5>
      <label>คณิตศาสตร์</label>
      <input id="onet_sci" name="onet_sci" ngModel>
      <label>วิทยาศาสตร์</label>
      <input id="onet_math" name="onet_math" ngModel>
      <label>ภาษาไทย</label>
      <input id="onet_thai" name="onet_thai" ngModel>
      <label>ภาษาอังกฤษ</label>
      <input id="onet_eng" name="onet_eng" ngModel>
    </div>
    <div>
      <input type="checkbox">
      <label>ผู้พิการ/เด็กพิเศษ</label>
      <label>(โปรดระบุประเภทความพิเศษ)</label>
      <input>
    </div>
    <div>
      <input type="checkbox">
      <label>ผู้ด้อยโอกาส/ฐานะยากจน</label>
      <input type="checkbox">
      <label>อื่นๆ</label>
      <label>โปรดระบุ</label>
      <input>
    </div>
    <div>
      <div>
        <label>อันดับที่ 1</label>
        <select id="major_name1" name="major_name1" ngModel>
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 2</label>
        <select id="major_name2" name="major_name2" ngModel>
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 3</label>
        <select id="major_name3" name="major_name3" ngModel>
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 4</label>
        <select id="major_name4" name="major_name4" ngModel>
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 5</label>
        <select id="major_name5" name="major_name5" ngModel>
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 6</label>
        <select id="major_name6" name="major_name6" ngModel>
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 7</label>
        <select id="major_name7" name="major_name7" ngModel>
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 8</label>
        <select id="major_name8" name="major_name8" ngModel>
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 9</label>
        <select id="major_name9" name="major_name9" ngModel>
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 10</label>
        <select id="major_name10" name="major_name10" ngModel>
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success" value="submit">ยืนยัน</button>
    </div>
</form>
<div>
  <button class="btn btn-danger" [routerLink] = "['/mainpage']">ย้อนกลับ</button>
</div>

