<div>
    <h2>ใบสมัครเข้าเรียนต่อชั้นมัธยมศึกษาปีที่ 4</h2>
    <h4>ศูนย์รับสมัครโรงเรียนพร้าววิทยาคม สำนักงานเขตพื้นที่การศึกษามัธยมศึกษา เขต 34</h4>
  </div>

 <form (ngSubmit)="addNewstudentm4()" [formGroup]="form">
  <div>
    <label>Post Image</label>
    <input type="file" formControlName="pic" name="pic" [(ngModel)]="newstudentm4.pic" class="form-control"
    (change)="uploadImage($event)" [ngClass]="{ 'is-invalid': submitted && f.pic.errors }">

    <div *ngIf="submitted && f.pic.errors" class="invalid-feedback">
      <div *ngIf="f.pic.errors.require">Image is require</div>
    </div>
  </div>
    <div class="form-group">
        <label>คำนำหน้า</label>
        <select type="text" name="prename" [(ngModel)]="newstudentm4.prename" class="form-control">
          <option *ngFor='let p of prename'>{{p}}</option>
        </select>
        <label>ชื่อ</label>
        <input  type="text" name="name" [(ngModel)]="newstudentm4.name" class="form-control">
        <label>ชื่อกลาง</label>
        <input type="text" name="name_cen" [(ngModel)]="newstudentm4.name_cen" class="form-control">
        <label>นามสกุล</label>
        <input type="text" name="surname" [(ngModel)]="newstudentm4.surname" class="form-control">
        <label>เพศ</label>
        <select type="text" id="sex" name="sex" [(ngModel)]="newstudentm4.sex" class="form-control">
          <option *ngFor='let g of gender'>{{g}}</option>
        </select>
    </div>
    <div class="form-group">
      <label>เลขประจำตัวประชาชน</label>
      <input name="id_number" [(ngModel)]="newstudentm4.id_number">
      <label>วันเดือนปีเกิด</label>
      <input name="birthday" [(ngModel)]="newstudentm4.birthday">
    </div>
    <div class="form-group">
      <label>ศาสนา</label>
      <input name="religion" [(ngModel)]="newstudentm4.religion">
      <label>เชื้อชาติ</label>
      <input name="nationality" [(ngModel)]="newstudentm4.nationality">
      <label>สัญชาติ</label>
      <input name="origin" [(ngModel)]="newstudentm4.origin">
    </div>
    <div class="form-group">
      <label>ชื่อบิดา</label>
      <input name="father_name" [(ngModel)]="newstudentm4.father_name">
      <label>ชื่อกลาง</label>
      <input name="father_namecen" [(ngModel)]="newstudentm4.father_namecen">
      <label>นามสกุลบิดา</label>
      <input name="father_surname" [(ngModel)]="newstudentm4.father_surname">
      <label>เลขประจำตัวประชาชน</label>
      <input name="father_id" [(ngModel)]="newstudentm4.father_id">
      <label>อาชีพ</label>
      <input name="father_job" [(ngModel)]="newstudentm4.father_job">
      <label>โทรศัพท์</label>
      <input name="father_tel" [(ngModel)]="newstudentm4.father_tel">
    </div>
    <div class="form-group">
      <label>ชื่อมารดา</label>
      <input name="mother_name" [(ngModel)]="newstudentm4.mother_name">
      <label>ชื่อกลาง</label>
      <input name="mother_namecen" [(ngModel)]="newstudentm4.mother_namecen">
      <label>นามสกุลมารดา</label>
      <input name="mother_surname" [(ngModel)]="newstudentm4.mother_surname">
      <label>เลขประจำตัวประชาชน</label>
      <input name="mother_id" [(ngModel)]="newstudentm4.mother_id">
      <label>อาชีพ</label>
      <input name="mother_job" [(ngModel)]="newstudentm4.mother_job">
      <label>โทรศัพท์</label>
      <input name="mother_tel" [(ngModel)]="newstudentm4.mother_tel">
    </div>
    <div class="form-group">
      <label>ผู้ปกครอง</label>
      <input type="checkbox">
      <label>บิดา</label>
      <input type="checkbox">
      <label>มารดา</label>
      <label>ถ้าเป็นบุคลอื่นโปรดระบุความสัมพันธ์</label>
      <input>
    </div>
    <div class="form-group">
      <label>ชื่อผู้ปกครอง</label>
      <input name="parent_name" [(ngModel)]="newstudentm4.parent_name">
      <label>ชื่อกลาง</label>
      <input name="parent_namecen" [(ngModel)]="newstudentm4.parent_namecen">
      <label>นามสกุลผู้ปกครอง</label>
      <input name="parent_surname" [(ngModel)]="newstudentm4.parent_surname">
      <label>อาชีพ</label>
      <input name="parent_job" [(ngModel)]="newstudentm4.parent_job">
      <label>โทรศัพท์</label>
      <input name="parent_tel" [(ngModel)]="newstudentm4.parent_tel">
    </div>
    <div class="form-group">
      <label>บ้านเลขที่</label>
      <input name="house_number" [(ngModel)]="newstudentm4.house_number">
      <label>หมู่ที่</label>
      <input name="bloc" [(ngModel)]="newstudentm4.bloc">
      <label>ซอย</label>
      <input name="street" [(ngModel)]="newstudentm4.street">
      <label>ถนน</label>
      <input name="road" [(ngModel)]="newstudentm4.road">
    </div>
    <div class="form-group">
      <label>ตำบล/แขวง</label>
      <input name="sub_district" [(ngModel)]="newstudentm4.sub_district">
      <label>อำเภอ/เขต</label>
      <input name="district" [(ngModel)]="newstudentm4.district">
      <label>จังหวัด</label>
      <input name="province" [(ngModel)]="newstudentm4.province">
      <label>รหัสไปรษณีย์</label>
      <input name="post" [(ngModel)]="newstudentm4.post">
    </div>
    <div class="form-group">
      <label>สำเร็จการศึกษา ชั้นมัธยมศึกษาปีที่ 3 จากโรงเรียน</label>
      <input name="final_school" [(ngModel)]="newstudentm4.final_school">
    </div>
    <div class="form-group">
      <label>ตำบล</label>
      <input name="final_school_sub_district" [(ngModel)]="newstudentm4.final_school_sub_district">
      <label>อำเภอ</label>
      <input name="final_school_district" [(ngModel)]="newstudentm4.final_school_district">
      <label>จังหวัด</label>
      <input name="final_school_province" [(ngModel)]="newstudentm4.final_school_province">
    </div>
    <div class="form-group">
      <label>เลขประจำตัวนักเรียน(เฉพาะนักเรียน ม.3 โรงเรียนพร้าววิทยาคม)</label>
      <input name="student_id" [(ngModel)]="newstudentm4.student_id">
    </div>
    <div class="form-group">
      <h5>คะแนน o net</h5>
      <label>คณิตศาสตร์</label>
      <input name="onet_sci" [(ngModel)]="newstudentm4.onet_sci">
      <label>วิทยาศาสตร์</label>
      <input name="onet_math" [(ngModel)]="newstudentm4.prename">
      <label>ภาษาไทย</label>
      <input name="onet_thai" [(ngModel)]="newstudentm4.onet_thai">
      <label>ภาษาอังกฤษ</label>
      <input name="onet_eng" [(ngModel)]="newstudentm4.onet_eng">
    </div>
    <div class="form-group">
      <input type="checkbox">
      <label>ผู้พิการ/เด็กพิเศษ</label>
      <label>(โปรดระบุประเภทความพิเศษ)</label>
      <input>
    </div>
    <div class="form-group">
      <input type="checkbox">
      <label>ผู้ด้อยโอกาส/ฐานะยากจน</label>
      <input type="checkbox">
      <label>อื่นๆ</label>
      <label>โปรดระบุ</label>
      <input>
    </div>
    <div class="form-group">
      <div>
        <label>อันดับที่ 1</label>
        <select name="major_name1" [(ngModel)]="newstudentm4.major_name1">
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 2</label>
        <select name="major_name2" [(ngModel)]="newstudentm4.major_name2">
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 3</label>
        <select name="major_name3" [(ngModel)]="newstudentm4.major_name3">
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 4</label>
        <select name="major_name4" [(ngModel)]="newstudentm4.major_name4">
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 5</label>
        <select name="major_name5" [(ngModel)]="newstudentm4.major_name5">
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 6</label>
        <select name="major_name6" [(ngModel)]="newstudentm4.major_name6">
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 7</label>
        <select name="major_name7" [(ngModel)]="newstudentm4.major_name7">
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 8</label>
        <select name="major_name8" [(ngModel)]="newstudentm4.major_name8">
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 9</label>
        <select name="major_name9" [(ngModel)]="newstudentm4.major_name9">
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
      <div>
        <label>อันดับที่ 10</label>
        <select name="major_name10" [(ngModel)]="newstudentm4.major_name10">
          <option *ngFor='let m of major'>{{m}}</option>
        </select>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success" value="submit">ยืนยัน</button>
    </div>
  </form>
<div>
  <button class="btn btn-danger" [routerLink] = "['/mainpage']">ย้อนกลับ</button>
</div>

