ิ<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/image/logopwks.png" width="85" height="50" style="margin-left:40px;">ระบบบริหารจัดการข้อมูลโรงเรียนพร้าววิทยาคม
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn-danger" [routerLink] = "['/MainNewStudent']" style="margin-left: 900px;">ย้อนกลับ</button>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="img1">
      <img src="assets/image/logopwks.png" width="300" height="200">
    </div>
    <div class="headerText1">
      <h2>ใบสมัครเข้าเรียนต่อชั้นมัธยมศึกษาปีที่ 4</h2>
      <h4>ศูนย์รับสมัครโรงเรียนพร้าววิทยาคม สำนักงานเขตพื้นที่การศึกษามัธยมศึกษา เขต 34</h4>
    </div>
    <div style="background-color: white;">
      <div class="formcontroller">
        <form (ngSubmit)="addNewstudentm4()">


          <div>
            <label style="margin-top: 40px;"></label>
            <div class="label1">
              <label style="margin-left: 30px;">รูปนักเรียน</label>
            </div>
            <p>*หมายเหตุ รูปนักเรียนหน้าตรง 2 นิ้วฉากหลังสีฟ้าที่ถ่ายตามร้านถ่ายรูปเมื่อถ่ายเสร็จให้ขอไฟล์มาด้วย</p>
            <input type="file" name="pic" id="pic" class="form-control"
            (change)="uploadImage($event)" >
          </div>

          <div>
            <label>รูปสำเนาบัตรประจำตัว</label>
          <input type="file" name="id_number_pic"  class="form-control" id="id_number_pic"
          (change)="uploadImage($event)" >
          </div>

          <div>
            <label>รูปสำเนาทะเบียนบ้าน</label>
          <input type="file" name="house_pic"  class="form-control" id="house_pic"
          (change)="uploadImage($event)" >
          </div>

          <!-- ข้อมูลส่วนตัว -->
          <div class="label2">
            <label style="margin-left: 30px;">ข้อมูลส่วนตัว</label>
          </div>
            <div class="formgroup1">

                <input  type="text" name="prename" id="prename"
                [(ngModel)]="newstudentm4.prename" placeholder="คำนำหน้าชื่อ" size="10"/>

                <input  type="text" name="name" id="name"
                [(ngModel)]="newstudentm4.name" placeholder="ชื่อภาษาไทย" style="margin-left: 15px;" size="45"/>

                <input type="text" name="name_cen" id="name_cen"
                [(ngModel)]="newstudentm4.name_cen" placeholder="ชื่อกลาง" style="margin-left: 15px;"size="30"/>

                <input type="text" name="surname" id="surname"
                [(ngModel)]="newstudentm4.surname" placeholder="นามสกุลภาษาไทย" style="margin-left: 15px;" size="45"/>

                <div style="margin-top: 10px;">
                  <input name="id_number" [(ngModel)]="newstudentm4.id_number" id="id_number"
                  placeholder="เลขประจำตัวประชาชน" class="form-control"/>
                </div>
                <label style="margin-top: 20px;">วันเดือนปีเกิดที่ปรากฎในบัตรประชาชน</label>
            <div>
              <input type="text" name="day" id="day"
              [(ngModel)]="newstudentm4.day" size="5" placeholder="วัน"/>
              <input type="text" name="mounth" id="mounth"
              [(ngModel)]="newstudentm4.mounth" size="5" placeholder="เดือน"/>
              <input type="text" name="year" id="year"
              [(ngModel)]="newstudentm4.year" size="5" placeholder="ปี"/>

              <input  type="text" name="sex" id="sex"
                [(ngModel)]="newstudentm4.sex" placeholder="เพศ" style="margin-left: 15px;" size="10"/>

              <input type="text" name="religion" id="religion"
              [(ngModel)]="newstudentm4.religion" placeholder="ศาสนา*" style="margin-left: 19px;"/>

              <input type="text" name="nationality" id="nationality"
              [(ngModel)]="newstudentm4.nationality" placeholder="เชื้อชาติ*" style="margin-left: 19px;"/>

              <input type="text" name="origin" id="origin"
              [(ngModel)]="newstudentm4.origin" placeholder="สัญชาติ*" style="margin-left: 19px;"/>

              <input type="text" name="tel" size="35" id="tel"
              [(ngModel)]="newstudentm4.tel" placeholder="หมายเลขโทรศัพท์ที่สามารถติดต่อได้*" style="margin-left: 19px;"/>
            </div>

            <!-- ข้อมูลที่อยู่ตามทะเบียนบ้าน -->
            <div class="label2">
              <label style="margin-left: 30px;">ข้อมูลที่อยู่ตามทะเบียนบ้าน</label>
            </div>
            <div class="formgroup1">
              <input type="text" name="house_number" id="house_number"
              [(ngModel)]="newstudentm4.house_number" placeholder="บ้านเลขที่*"/>

              <input type="text" name="bloc" id="bloc"
              [(ngModel)]="newstudentm4.bloc" placeholder="หมู่ที่*" style="margin-left: 30px;"/>

              <input type="text" name="street" id="street"
              [(ngModel)]="newstudentm4.street" placeholder="ซอย*" style="margin-left: 30px;"/>

              <input type="text" name="road" id="road"
              [(ngModel)]="newstudentm4.road" placeholder="ถนน*" style="margin-left: 30px;"/>

              <div style="margin-top: 10px;">
                <input type="text" name="sub_district" id="sub_district"
                [(ngModel)]="newstudentm4.sub_district" placeholder="ตำบล/แขวง*" />

                <input type="text" name="district" id="district"
                [(ngModel)]="newstudentm4.district" placeholder="อำเภอ/เขต*" style="margin-left: 30px;"/>

                <input type="text" name="province" id="province"
                [(ngModel)]="newstudentm4.province" placeholder="จังหวัด*" style="margin-left: 30px;"/>

                <input type="text" name="post" id="post"
                [(ngModel)]="newstudentm4.post" placeholder="รหัสไปรษณีย์*" style="margin-left: 30px;"/>
              </div>
            </div>

            <!-- ข้อมูลครอบครัว -->
            <div class="label2">
              <label style="margin-left: 30px;">ข้อมูลครอบครัว</label>
            </div>
            <p style="margin-top: 15px;">ชื่อ/นามสกุล บิดา</p>
          <div class="form-group">
            <input type="text" name="father_name" id="father_name"
            [(ngModel)]="newstudentm4.father_name"  placeholder="ชื่อบิดา*" size="25"/>

            <input type="text" name="father_namecen" id="father_namecen"
            [(ngModel)]="newstudentm4.father_namecen"  placeholder="ชื่อกลาง*" style="margin-left: 20px;" size="25"/>

            <input type="text" name="father_surname" id="father_surname"
            [(ngModel)]="newstudentm4.father_surname"  placeholder="นามสกุล*" style="margin-left: 20px;" size="25"/>

            <input type="text" name="father_id" id="father_id"
            [(ngModel)]="newstudentm4.father_id"  placeholder="เลขประจำตัวประชาชนบิดา*" style="margin-left: 20px;" size="34"/>
            <div style="margin-top: 10px;">
              <input id="father_job"
              [(ngModel)]="newstudentm4.father_job" type="text" name="father_job" placeholder="อาชีพ*"/>

              <input type="text" name="father_tel" id="father_tel"
              [(ngModel)]="newstudentm4.father_tel"  placeholder="โทรศัพท์*" style="margin-left: 20px;"/>
            </div>
          </div>

          <p style="margin-top: 15px;">ชื่อ/นามสกุล มารดา</p>
          <div class="form-group">
            <input type="text" name="mother_name" id="mother_name"
            [(ngModel)]="newstudentm4.mother_name"  placeholder="ชื่อมารดา*" size="25"/>

            <input type="text" name="mother_namecen" id="mother_namecen"
            [(ngModel)]="newstudentm4.mother_namecen"  placeholder="ชื่อกลาง*" style="margin-left: 20px;" size="25"/>

            <input type="text" name="mother_surname" id="mother_surname"
            [(ngModel)]="newstudentm4.mother_surname"  placeholder="นามสกุล*" style="margin-left: 20px;" size="25"/>

            <input type="text" name="mother_id" id="mother_id"
            [(ngModel)]="newstudentm4.mother_id"  placeholder="เลขประจำตัวประชาชนมารดา*" style="margin-left: 20px;" size="34"/>
            <div style="margin-top: 10px;">
              <input type="text" name="mother_job" id="mother_job"
              [(ngModel)]="newstudentm4.mother_job"  placeholder="อาชีพ*"/>

              <input type="text" name="mother_tel" id="mother_tel"
              [(ngModel)]="newstudentm4.mother_tel"  placeholder="โทรศัพท์*" style="margin-left: 20px;"/>
            </div>
          </div>

          <p style="margin-top: 15px;">ชื่อ/นามสกุล ผู้ปกครอง</p>
          <div style="margin-top: 4px;">
            <input type="checkbox" />
            <label style="margin-left: 3px;">บิดา</label>

            <input type="checkbox" style="margin-left: 10px;"/>
            <label style="margin-left: 3px;">มารดา</label>

            <input type="checkbox" style="margin-left: 10px;"/>
            <label style="margin-left: 3px;">บุคลอื่น</label>
          </div>
          <div class="form-group">
            <input type="text" name="parent_name" id="parent_name"
            [(ngModel)]="newstudentm4.parent_name"  placeholder="ชื่อผู้ปกครอง*" size="25"/>

            <input type="text" name="parent_namecen" id="parent_namecen"
            [(ngModel)]="newstudentm4.parent_namecen"  placeholder="ชื่อกลาง*" style="margin-left: 20px;" size="25"/>

            <input type="text" name="parent_surname" id="parent_surname"
            [(ngModel)]="newstudentm4.parent_surname"  placeholder="นามสกุลผู้ปกครอง*" style="margin-left: 20px;" size="25"/>

            <input type="text" name="parent_id" id="parent_id"
            [(ngModel)]="newstudentm4.parent_id"  placeholder="เลขประจำตัวประชาชนผู้ปกครอง*" style="margin-left: 20px;" size="34"/>

            <div style="margin-top: 10px;">
              <input type="text" name="parent" id="parent"
              [(ngModel)]="newstudentm4.parent"  placeholder="ความสัมพันธ์ผู้ปกครอง*" size="34"/>

              <input type="text" name="parent_job" id="parent_job"
              [(ngModel)]="newstudentm4.parent_job"  placeholder="อาชีพ*" style="margin-left: 20px;" size="25"/>

              <input type="text" name="parent_tel" id="parent_tel"
              [(ngModel)]="newstudentm4.parent_tel" placeholder="โทรศัพท์*" style="margin-left: 20px;" size="25"/>
            </div>
          </div>

           <!-- ข้อมูลทางการศึกษา -->
           <div class="label2">
            <label style="margin-left: 30px;">ข้อมูลทางการศึกษา</label>
          </div>
            <label style="margin-top: 20px; margin-bottom: 5px;">สำเร็จการศึกษา ชั้นประถมศึกษาปีที่ 6 จากโรงเรียน</label>
            <input type="text" name="final_school" id="final_school"
            [(ngModel)]="newstudentm4.final_school" class="form-control" placeholder="ชื่อโรงเรียนเดิม*"/>
          <div style="margin-top: 20px;">
            <input type="text" name="final_school_sub_district" id="final_school_sub_district"
            [(ngModel)]="newstudentm4.final_school_sub_district	" placeholder="ตำบล/แขวง" />

            <input type="text" name="final_school_district" id="final_school_district"
            [(ngModel)]="newstudentm4.final_school_district" placeholder="อำเภอ/เขต" style="margin-left: 20px;"/>

            <input type="text" name="final_school_province" id="final_school_province"
            [(ngModel)]="newstudentm4.final_school_province" placeholder="จังหวัด" style="margin-left: 20px;"/>
          </div>
          <div>
            <label style="margin-top: 20px; margin-bottom: 5px;">เลขประจำตัวนักเรียน (เฉพาะนักเรียนชั้น ม.3 โรงเรียนพร้าววิทยาคม)</label>
            <div style="margin-top: 5px;">
              <input type="text" name="student_id" id="student_id"
              [(ngModel)]="newstudentm4.student_id" placeholder="เลขประจำตัวนักเรียน" class="form-control" style="margin-left: 20px;"/>
            </div>
          </div>
          <div>
            <label style="margin-top: 20px; margin-bottom: 5px;">ผลสอบ O-NET ระดับชั้นมัธยมศึกษาปีที่ 3 (กรอกเป็นตัวเลขเท่านั้น)</label>
            <div style="margin-top: 5px;">
              <input type="text" name="onet_math" id="onet_math"
              [(ngModel)]="newstudentm4.onet_math" placeholder="วิชาคณิตศาสตร์*" style="margin-left: 20px;"/>

              <input type="text" name="onet_sci" id="onet_sci"
              [(ngModel)]="newstudentm4.onet_sci" placeholder="วิชาวิทยาศาสตร์*" style="margin-left: 20px;"/>

              <input type="text" name="onet_thai" id="onet_thai"
              [(ngModel)]="newstudentm4.onet_thai" placeholder="วิชาภาษาไทย*" style="margin-left: 20px;"/>

              <input type="text" name="onet_eng" id="onet_eng"
              [(ngModel)]="newstudentm4.onet_eng" placeholder="วิชาภาษาอังกฤษ*" style="margin-left: 20px;"/>
            </div>
          </div>
          </div>

           <!-- ความต้องการความช่วยเหลือด้สนการจัดการ -->
    <div class="label2">
      <label style="margin-left: 30px;">ความต้องการความช่วยเหลือด้สนการจัดการ</label>
    </div>
      <div style="margin-top: 20px;">
        <input type="checkbox" name="" id="">
        <label style="margin-left: 5px;">ไม่มี</label>
      </div>
      <div style="margin-top: 15px;">
          <input type="checkbox" name="poor_person" id="poor_person"
          [(ngModel)]="newstudentm4.poor_person"/>
          <label style="margin-left: 5px;">ผู้ด้อยโอกาส/ฐานะยากจน</label>
      </div>
          <div style="margin-top: 15px;">
            <input type="checkbox" />
            <label style="margin-left: 5px;">ผู้พิการ/เด็กพิเศษ</label>
            <input type="text" name="disabled" id="disabled"
            [(ngModel)]="newstudentm4.disabled" placeholder="โปรดระบุความพิเศษ*" style="margin-left: 10px;" size="25"/>
          </div>
          <div style="margin-top: 15px;">
            <input type="checkbox" />
            <label style="margin-left: 5px;">อื่นๆ</label>
            <input type="text" name="etc" id="etc"
            [(ngModel)]="newstudentm4.etc" placeholder="โปรดระบุ*" style="margin-left: 10px;" size="25"/>
          </div>

          <!-- เลือกแผนการเรียน -->
          <div class="label2">
            <label style="margin-left: 30px;">เลือกเรียนแผนการเรียนรู้ (เลือกอันดับ 1 - 10 ตามลำดับแผนการเรียนรู้ที่เลือก)</label>
          </div>
            <div style="margin-top: 15px;">
              <p>***ให้นำชื่อสายการเรียน 10 สายการเรียนไปกรอกในช่องอันดับแต่ละอันดับที่ต้องการ เช่นหากต้องการเลือกเรียนสายวิชา วิทยาศาสตร์-คณิตศาสตร์เป็นอันดับแรกก็ให้เอาไปกรอกที่ช่องอันดับ 1</p>
                <div style="margin-top: 10px;">
                  <h5>สายการเรียนทั้งหมด</h5>
                </div>
                <div style="text-align: center; margin-top: 20px; border: 2px dotted gray;">
                  <div style="margin-top: 10px;">
                    <span> วิทยาศาสตร์-คณิตศาสตร์</span>
                    <span style="margin-left: 40px;">ศิลป์-ฝรั่งเศษ</span>
                    <span style="margin-left: 40px;">ศิลป์-จีน</span>
                    <span style="margin-left: 40px;">พาณิช</span>
                    <span style="margin-left: 40px;">ศิลป์-คำนวณ</span>
                  </div>
                  <div style="margin-top: 10px; margin-bottom: 15px;">
                    <span> ศิลป์-พละ</span>
                    <span style="margin-left: 40px;">วิทยาศาสตร์-คอมพิวเตอร์</span>
                    <span style="margin-left: 40px;">เกษตร </span>
                    <span style="margin-left: 40px;">คหกรรม</span>
                    <span style="margin-left: 40px;">ปวช</span>
                  </div>
                </div>
                <div style="margin-top: 30px; text-align: center;">
                  <label style="margin-right: 5px;"> อันดับที่ 1 :</label>
                  <input type="text" name="major_name1" id="major_name1"
                  [(ngModel)]="newstudentm4.major_name1" placeholder="โปรดระบุ*" style="margin-left: 10px;" size="25"/>


                  <label style="margin-right: 5px; margin-left: 100px;"> อันดับที่ 2 :</label>
                  <input type="text" name="major_name2" id="major_name2"
                  [(ngModel)]="newstudentm4.major_name2" placeholder="โปรดระบุ*" style="margin-left: 10px;" size="25"/>
                </div>
                <div style="margin-top: 30px; text-align: center;">
                  <label style="margin-right: 5px;"> อันดับที่ 3 :</label>
                  <input type="text" name="major_name3" id="major_name3"
                  [(ngModel)]="newstudentm4.major_name3" placeholder="โปรดระบุ*" style="margin-left: 10px;" size="25"/>


                  <label style="margin-right: 5px; margin-left: 100px;"> อันดับที่ 4 :</label>
                  <input type="text" name="major_name4" id="major_name4"
                  [(ngModel)]="newstudentm4.major_name4" placeholder="โปรดระบุ*" style="margin-left: 10px;" size="25"/>
                </div>
                <div style="margin-top: 30px; text-align: center;">
                  <label style="margin-right: 5px;"> อันดับที่ 5 :</label>
                  <input type="text" name="major_name5" id="major_name5"
                  [(ngModel)]="newstudentm4.major_name5" placeholder="โปรดระบุ*" style="margin-left: 10px;" size="25"/>


                  <label style="margin-right: 5px; margin-left: 100px;"> อันดับที่ 6 :</label>
                  <input type="text" name="major_name6" id="major_name6"
                  [(ngModel)]="newstudentm4.major_name6" placeholder="โปรดระบุ*" style="margin-left: 10px;" size="25"/>
                </div>
                <div style="margin-top: 30px; text-align: center;">
                  <label style="margin-right: 5px;"> อันดับที่ 7 :</label>
                  <input type="text" name="major_name7" id="major_name7"
                  [(ngModel)]="newstudentm4.major_name7" placeholder="โปรดระบุ*" style="margin-left: 10px;" size="25"/>


                  <label style="margin-right: 5px; margin-left: 100px;"> อันดับที่ 8 :</label>
                  <input type="text" name="major_name8" id="major_name8"
                  [(ngModel)]="newstudentm4.major_name8" placeholder="โปรดระบุ*" style="margin-left: 10px;" size="25"/>
                </div>
                <div style="margin-top: 30px; text-align: center;">
                  <label style="margin-right: 5px;"> อันดับที่ 9 :</label>
                  <input type="text" name="major_name9" id="major_name9"
                  [(ngModel)]="newstudentm4.major_name9" placeholder="โปรดระบุ*" style="margin-left: 10px;" size="25"/>


                  <label style="margin-right: 5px; margin-left: 100px;"> อันดับที่ 10 :</label>
                  <input type="text" name="major_name10" id="major_name10"
                  [(ngModel)]="newstudentm4.major_name10" placeholder="โปรดระบุ*" style="margin-left: 10px;" size="25"/>
                </div>
            </div>

            <div class="btnSubmit">
              <p>**********โปรดตรวจสอบความถูกต้อง ก่อนกดยืนยันส่งใบสมัครไม่เช่นนั้นอาจมีข้อมูลสูญหายหรือไม่ครบถ้วน**********</p>
              <button type="submit" class="btn btn-success" style="margin-bottom: 30px;">ยืนยันการส่งใบสมัครเข้าศึกษาต่อ</button>
            </div>
          </form>
        </div>
      </div>
  </div>
  <footer>
    <p class="textFooter">Copyright © 2021 Phrao wittayakom School. | พัฒนาโดย PWK40 & CSMJU23</p>
  </footer>
</body>

