<div>
    <h3>เพิ่ม-ถอนคะแนน</h3>
</div>
<div>
    <label>รหัสนักเรียน : <input></label>

    <button type="submit">ค้นหา</button>
    <div>
        <label>รหัสนักเรียน : 12411</label>
    </div>
    <div>
        <label>ชื่อ-นามสกุล : นายงงงวย โคตรสงสัย</label>
    </div>
    <div>
        <label>คะแนนรวม : 90</label>
    </div>
</div>
<div>
    <label>ถอนคะแนน</label>
    <div>
        <label>สาเหตุ : <input type="text"></label>
        <label>หัก : <input> คะแนน</label>
    </div>
</div>
<div>
    <label>เพิ่มคะแนน</label>
    <div>
        <label>สาเหตุ : <input type="text"></label>
        <label>เพิ่ม : <input> คะแนน</label>
    </div>
</div>
<div>
    <label>คะแนนรวม : </label>
</div>
<div>
    <button type="submit">submit</button>
    <button type="reset">reset</button>
    <button type="submit">close</button>
</div>
