<div>
    <div><h2>Student</h2></div>
  <div>
    <!-- <img src="" alt=""> -->
    <div *ngFor="let b of b; let fst = first;">
      <label *ngIf="fst">Sudent_id : {{b.student_id}}</label>
    </div>
    <div>
      <label>Name :  {{bh.prename}}{{bh.name}} {{bh.surname}}</label>
    </div>
    <div>
      <label>class/room : </label>
    </div>
    <div>
      <label>major : </label>
    </div>
    <div>
      <label>Advisor teacher : </label>
    </div>
    <div>
      <button type="button" class="btn btn-success">ข้อมูลส่วนตัว</button>
    </div>
  </div>
  <div>
    <div><h2>ประวัติความประพฤติ</h2></div>
    <div>
      <table class="table table-bordered border-primary">
        <thead>
          <th>ประวัติ</th>
          <th>หักคะแนน</th>
          <th>เพิ่มคะแนน</th>
          <th>รายละเอียด</th>
        </thead>
        <tbody>
          <tr *ngFor = "let b of b">
            <td>{{b.title}}</td>
            <td>{{b.pos_score}}</td>
            <td>{{b.neg_score}}</td>
            <td><button type="button" class="btn btn-secondary">View</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-success">บันทึกประวัติ</button>
    <button type="button" class="btn btn-danger">ย้อนกลับ</button>
  </div>
</div>

