<div>
  <h3>คะแนนความประพฤติ</h3>
</div>
<div>
  <h5>นายณัฐพล กุงกะลาทอง</h5>
</div>
<div>
  <label>คะแนนที่ถูกหัก</label>
  <table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th>เหตุการณ์</th>
        <th>คะแนนที่หัก</th>
        <th>คงเหลือ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ต่อยรุ่นน้อง</td>
        <td>10</td>
        <td>90</td>
      </tr>
      <tr>
        <td>ชู้สาว</td>
        <td>30</td>
        <td>60</td>
      </tr>
      <tr>
        <td>ลักเล็กขโมยน้อย</td>
        <td>5</td>
        <td>55</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <label>คะแนนที่เพิ่ม</label>
  <table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th>เหตุการณ์</th>
        <th>คะแนนที่เพิ่ม</th>
        <th>คงเหลือ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>บำเพ็ญประโยชน์</td>
        <td>15</td>
        <td>70</td>
      </tr>
      <tr>
        <td>เป็นตัวแทนแข่งขันวิชาการ</td>
        <td>25</td>
        <td>95</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <label>คะแนนรวม = </label>
  <label>95</label>
</div>
<div>
  <button type="button">กรอกแบบฟอร์มขอเพิ่มคะแนน</button>
  <button type="submit">return</button>
  <button type="submit">close</button>
</div>
