<div>
  <div>
    <h2>รายชื่อนักเรียน</h2>
  </div>
  <div>
    <h4>ค้นหา</h4>
    <label>ชัน ม.</label>
    <select>
      <option *ngFor = "let sc of search_class">{{sc}}</option>
    </select>
    <label>ห้อง</label>
    <select>
      <option *ngFor = "let sr of search_room">{{sr}}</option>
    </select>
  </div>
  <div>
    <table class="table table-bordered border-primary">
      <thead>
        <th>รหัสนักเรียน</th>
        <th>ชื่อ-นามสกุล</th>
        <th>ชั้น/ห้อง</th>
        <th>ตรวจสอบความประพฤติ</th>
      </thead>
      <tbody >
        <tr *ngFor = "let s of sciList">
          <td>{{s.student_id}}</td>
          <td>{{s.prename}}{{s.name}} {{s.surname}}</td>
          <td>{{s.classroom_id}}</td>
          <td><button class="btn btn-primary" [routerLink] = "['/Statusstudent', s.id]">view</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
